.bus-information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-bottom: 20Px;
  width: 100%;
}

.bus-information-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-bottom: 10Px;
  margin-bottom: 10Px;
  border-bottom: 2Px solid var(--wjh-color-border);
  font-weight: bold;
  gap: 5Px;
  .start-time {
    font-size: 20Px;
  }
  .route-name {
    font-size: 16Px;
  }
}

.bus-information-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10Px;
  .row-item {
    display: flex;
    .remain-seats {
      padding: 0 6Px 0 2Px
    }
  }
  .detail-button {
    width: 90Px;
    height: 35Px;
    border-radius: 7.5Px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--wjh-color-primary);
    color: white;
    font-size: 14Px;
    text-align: center;
    line-height: 35Px;
  }
}
