@import "@/style/theme.scss";
@import "@/style/index.scss";

.green {
  --wjh-color-primary: var(--wjh-color-green);
  --wjh-color-primary-light: var(--wjh-color-green-light);
  --wjh-color-secondary: var(--wjh-color-cyan);
  --wjh-color-secondary-light: var(--wjh-color-cyan-light);
  --wjh-color-third-light: var(--wjh-color-orange-light);
  --wjh-color-third: var(--wjh-color-orange);
  --wjh-color-fourth: var(--wjh-color-yellow);
  --wjh-color-fifth: var(--wjh-color-gold);
  --wjh-color-sixth: var(--wjh-color-desert);
  background-image: url('~@/assets/photos/background.svg');
}

.yellow {
  --wjh-color-primary: var(--wjh-color-yellow);
  --wjh-color-primary-light: var(--wjh-color-yellow-light);
  --wjh-color-secondary: var(--wjh-color-duck-yellow);
  --wjh-color-secondary-light: var(--wjh-color-duck-yellow-light);
  --wjh-color-third-light: var(--wjh-color-orange-light);
  --wjh-color-third: var(--wjh-color-orange);
  --wjh-color-fourth: var(--wjh-color-blue);
  --wjh-color-fifth: var(--wjh-color-gold);
  --wjh-color-sixth: var(--wjh-color-desert);
  background-image: url('~@/assets/photos/background-yellow.svg');
}

.blue {
  --wjh-color-primary: var(--wjh-color-blue);
  --wjh-color-primary-light: var(--wjh-color-blue-light);
  --wjh-color-secondary: var(--wjh-color-sky-blue);
  --wjh-color-secondary-light: var(--wjh-color-sky-blue-light);
  --wjh-color-third-light: var(--wjh-color-orange-light);
  --wjh-color-third: var(--wjh-color-orange);
  --wjh-color-fourth: var(--wjh-color-purple);
  --wjh-color-fifth: var(--wjh-color-gold);
  --wjh-color-sixth: var(--wjh-color-purple-dark);
  background-image: url('~@/assets/photos/background-blue.svg');
}

.dark {
  background-color: var(--wjh-color-background-dark);
  --wjh-color-primary: var(--wjh-color-dark);
  --wjh-color-primary-light: var(--wjh-color-dark-light);
  --wjh-color-secondary: var(--wjh-color-dark--deep);
  --wjh-color-secondary-light: var(--wjh-color-gray);
  --wjh-color-third-light: var(--wjh-color-dark-light);
  --wjh-color-third: var(--wjh-color-dark);
  --wjh-color-fourth: var(--wjh-color-dark-deep);
  --wjh-color-fifth: var(--wjh-color-dark-lighter);
  --wjh-color-sixth: var( --wjh-color-dark-deep);
  background-image: url('~@/assets/photos/background-blank.svg');
  --wjh-color-text: #fff;
  --wjh-color-text-secondary: #666;
  --wjh-color-week: #999;
  --wjh-color-light: #ccc;
  --wjh-color-border: #eee;
  --wjh-color-box: #f5f5f5;
  --wjh-color-background: #3f3f3f;
  color: white;
}

.background-config {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  background-position: bottom 0 right 50%;
  background-repeat: no-repeat;
}
