.theme.green {
  --wjh-color-primary-light: var(--wjh-color-green-500);
  --wjh-color-primary: var(--wjh-color-green-600);
  --wjh-color-primary-dark: var(--wjh-color-green-700);

  background-image: url('~@/assets/photos/background.svg');
}

.theme.yellow {
  --wjh-color-primary-light: var(--wjh-color-yellow-500);
  --wjh-color-primary: var(--wjh-color-yellow-600);
  --wjh-color-primary-dark: var(--wjh-color-yellow-700);

  background-image: url('~@/assets/photos/background-yellow.svg');
}

.theme.blue {
  --wjh-color-primary-light: var(--wjh-color-blue-500);
  --wjh-color-primary: var(--wjh-color-blue-600);
  --wjh-color-primary-dark: var(--wjh-color-blue-700);

  background-image: url('~@/assets/photos/background-blue.svg');
}

.theme.pink {
  --wjh-color-primary-light: var(--wjh-color-pink-500);
  --wjh-color-primary: var(--wjh-color-pink-600);
  --wjh-color-primary-dark: var(--wjh-color-pink-700);

  background-image: url('~@/assets/photos/background-pink.svg');
}

.background {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  background-position: bottom 0 right 50%;
  background-repeat: no-repeat;
  background-color: var(--wjh-color-background-page);
  color: var(--wjh-color-text);
}