.bus-information-container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 14Px;
  color: var(--wjh-color-text-secondary);

  &:not(:last-child) {
    margin-bottom: 10Px;
  }
}