@import '@/style/theme.scss';


.exam-quick-view {
  .wjh-card {
    box-shadow: none;
    margin: 0.5rem 0;
  }

  .exam-card {
    position: relative;
    color: var(--wjh-color-text);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      height: 100%;
      width: 100%;
      opacity: .3;
      background: var(--wjh-color-primary);
      border-radius: 8Px;
    }

    .text-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 100%;
      color: var(--wjh-color-text);
    }

    .exam-place {
      font-size: 1rem;
    }

    .exam-name {
      font-size: 1.1rem;
      border-bottom: 1.5Px solid var(--wjh-color-week);
      padding-bottom: 6Px;
      padding-right: .5rem;
    }

    .exam-time {
      font-size: 0.9rem;
      display: flex;
      gap: 8Px;
      flex: none;
    }

    .exam-state {
      font-size: 0.9rem;
      flex: none;
    }
  }

  .wjh-card-body {
    position: relative;
    padding: 0.5rem 0;
    z-index: 10;
  }

  .taking {
    color: var(--wjh-color-primary-dark);
  }

}
