.wjh-tag {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 22px;
  color: var(--wjh-color-text-secondary);
  background-color: var(--wjh-color-background-container);
  transition: all 0.1s ease;
  white-space: nowrap;

  &__active {
    color: #fff;
    background-color: var(--wjh-color-primary);
  }
}