@import "@/style/theme";

.warn {
  font-size: 0.875rem;
  color: var(--wjh-color-week);
}

.input-card {

  input {
    border: 2Px solid var(--wjh-color-light);
    padding: 0.3rem 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0.2rem;
  }
}

.red-text {
  color: red;
  font-size: 0.875rem;
}
