@import '@/style/theme.scss';

.alarm {
  margin: 0 10Px;
  position: relative;
}

.alarm-icon {
  font-size: 1.2rem !important;
  color: var(--wjh-color-text-secondary);
}

.badge-wrapper {
  top: -2Px;
  left: .7rem;
  position: absolute;
  display: inline-flex;
}