@import '@/style/theme.scss';

.wjh-alarm {
  margin-left: 10Px;
}

.wjh-alarm-icon {
  font-size: 1.2rem;
  color: var(--wjh-color-text-secondary);
}

.wjh-alarm-counter-background {
  background-color: red;
  font-size: 0.6rem;
  color: var(--wjh-color-white);
  line-height: 0.8rem;
  padding: 0.1rem;
  top: -35Px;
  left: 10Px;
  border: 2Px solid var(--wjh-color-white);
  border-radius: 1000Px;
  position: relative;
  text-align: center;
}