.index-panel {
	height: 100%;
	position: absolute;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-around;

	.num-index {
		text-align: center;
	}
}

.weekday-index-panel {
	left: 10%;
	flex-direction: row;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	width: 126%;
	height: 5%;
}

.jc-index-panel {
	flex-direction: column;
	top: 5%;
	border-right: 1px solid black;
	border-top: 1px solid black;
	width: 10%;
	height: 95%;
}

.class {
	position: absolute;
	padding: 0.2rem;
	width: 18%;
	text-align: center;
	box-sizing: border-box;
	.title {
		line-height: 100%;
		font-size: 120%;
		display: block;
		font-weight: bolder;
	}

	.item-content {
		line-height: 125%;
		font-size: 100%;
    overflow: hidden;
		width: 100%;
	}
}

.warp {
	position: absolute;
	height: 100%;
	overflow: scroll;
	width: 100%;
}

.table {
	display: flex;
	height: 100%;
	left: 10%;
	top: 5%;
	margin: 0.1rem;
	position: absolute;
	width: 100%;
}

.class-card {
	margin: 0rem;
	height: calc(100% - 0.4rem);
	width: calc(100% - 0.4rem);
	padding: 0.2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex {
	display: flex;
}
