@import "@/style/mixin.scss";
@import "./dark.scss";
@import "./light.scss";

.index-panel {
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .num-index {
    text-align: center;
    font-size: 0.8rem;
  }
}

.weekday-index-panel {
  flex-direction: row;
  border-bottom: 1Px solid var(--wjh-color-border);
  border-left: 1Px solid var(--wjh-color-border);
  flex: 0 0 2rem;
}

.jc-index-panel {
  position: absolute;
  flex-direction: column;
  border-right: 1Px solid var(--wjh-color-border);
  border-top: 1Px solid var(--wjh-color-border);
  width: 2rem;
  margin-top: 2rem;
  height: calc(100% - 2rem);
  border-radius: 0 0 0 8Px;
  @include blur;
}

.class {
  display: flex;
  position: absolute;
  padding: 0.2rem;
  width: calc(100% / 7);
  text-align: center;
  box-sizing: border-box;

  .row {
    display: flex;
    position: relative;
  }

  .row:first-child {
    flex-direction: column;
    justify-content: flex-end;
    flex: 0 0 50%;
  }

  .title {
    line-height: 1rem;
    font-size: 0.75rem;
    display: block;
    font-weight: bolder;
  }

  .item-content {
    height: 100%;
    line-height: 125%;
    font-size: 0.6rem;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  .conflict::after {
    content: "*";
    position: absolute;
    font-size: 1rem;
    right: 6Px;
    top: 0;
  }
}

.lessons-table-wrapper {
  height: 100%;
  width: 100%;
  position: relative;

  .col {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .col:first-child {
    flex: 0 0 2rem;
  }

  .col:nth-child(2) {
    flex: 0 0 calc((100% - 2rem) * 1.4);
  }
}

.lessons-table {
  position: relative;
  background-color: var(--wjh-color-background-container);
  height: 100%;
  border-radius: 8Px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.table {
  position: relative;
  display: flex;
  height: 100%;
}

.class-card {
  height: calc(100% - 0.4rem);
  width: calc(100% - 0.4rem);
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-radius: 4Px;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
  }
}

.now-index {
  height: 2Px;
  background-color: var(--wjh-color-primary-dark);
  position: absolute;
  width: calc(126% + 2rem);
  z-index: 10;
}

.now-week-index {
  height: 100%;
  width: calc(100% / 7);
  background: var(--wjh-color-primary-light);
  opacity: .2;
  position: absolute;
}
