.badge {
  display: inline-flex;
  color: var(--wjh-color-white);
  line-height: 100%;
  background-color: var(--wjh-color-red-600);
  border-radius: 16Px;
}

.middle {
  padding: 4Px 8Px;
  min-height: 8Px;
  font-size: .8rem;
}

.small {
  padding: 3Px 6Px;
  min-height: 6Px;
  font-size: .6rem;
}

