{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": true,
  "printWidth": 210,
  "useTabs": true,
  "endOfLine": "lf"
}
