.applist-item {
  font-size: 80%;
  margin: 0.5rem 0;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4Px;

  .icon-wrapper {
    border-radius: 0.5rem;
    height: 60Px;
    width: 60Px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iconfont {
    color: var(--wjh-color-white);
    font-size: 32Px;
  }

  .label {
    font-size: 0.75rem;
  }

  .disabled {
    background-color: var(--wjh-color-week);
  }
}
