@import "./light.scss";
@import "./dark.scss";

.applist-item {
  font-size: 80%;
  margin: 0.5rem 0;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4Px;

  .icon-wrapper {
    position: relative;
    height: 60Px;
    width: 60Px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      z-index: 0;
      border-radius: 0.5rem;
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      background-color: var(--bg-color);
    }
  }

  .iconfont {
    z-index: 1;
    font-size: 32Px;
  }

  .label {
    font-size: 0.75rem;
  }

  .disabled {
    background-color: var(--wjh-color-week);
  }
}
