.list {
  display: flex;
  flex-direction: column;
  padding: 16Px;
  padding-bottom: env(safe-area-inset-bottom);
  gap: 16Px;
}

.school-bus-title-bar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10Px 20Px;
  gap: 8Px;
  background-color: var(--wjh-color-primary-light);

  --row-height: 32Px;
  --row-field-border-radius: 6Px;



  .row-3 {
    display: flex;
    line-height: 20Px;
    overflow-x: auto;
    white-space: nowrap;

    .filter-item {
      font-size: 12.5Px;
      color: var(--wjh-color-text-secondary);

      &.active {
        color: var(--wjh-color-primary-dark);
      }
    }

    .divider {
      font-size: 14Px;
      padding: 0Px 4Px;
      flex-grow: 1;
      text-align: center;
    }
  }

}

:global(.dark) {
  .route-selector {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.2);
      z-index: -1;
    }
  }

  .row-2 {
    border-bottom: 2Px solid rgba(255, 255, 255, 0.2);
  }

  .divider {
    color: rgba(255, 255, 255, 0.2);
  }
}

:global(.light) {
  .search-input-container {
    background-color: white;
  }

  .route-selector {
    background-color: white;
  }

  .row-2 {
    border-bottom: 2Px solid white;
  }

  .divider {
    color: white;
  }
}