@import '@/style/theme.scss';

button:after {
  display: none;
}

.wjh-button {
  --padding-top-small: 3Px;
  --padding-top-middle: 7Px;
  --padding-top-large: 11Px;
  --padding-small: 12Px;
  --padding-middle: 12Px;
  --padding-large: 16Px;
  --padding-font-size-small: 15Px;
  --padding-font-size-middle: 17Px;
  --padding-font-size-large: 18Px;
}

.wjh-button {
  display: inline-block;
  margin: 0;
  color: var(--wjh-color-white);
  background-color: var(--wjh-color-primary);
}

.wjh-button-small {
  font-size: var(--padding-font-size-small);
  line-height: var(--padding-font-size-small);
  padding: var(--padding-top-small) var(--padding-small);
}

.wjh-button-middle {
  font-size: var(--padding-font-size-middle);
  line-height: var(--padding-font-size-middle);
  padding: var(--padding-top-middle) var(--padding-middle);
}

.wjh-button-large {
  font-size: var(--padding-font-size-large);
  line-height: var(--padding-font-size-large);
  padding: var(--padding-top-large) var(--padding-large);
}

.wjh-button-block {
  display: block;
}

.wjh-button-disable {
  background-color: var(--wjh-color-week) !important;
}

.wjh-button-shape-rounded {
  border-radius: 1000Px;
}

.wjh-button-shape-circle {
  display: inline-flex;
  align-items: center;
  border-radius: 1000Px;
  padding: var(--padding-top-middle);
  aspect-ratio: 1;
}
