@import '@/style/theme.scss';

.wjh-list {
  --padding-left-small: 12Px;
  --padding-right-small: 12Px;
  --padding-left-middle: 6Px;
  --padding-right-middle: 6Px;

  --align-item: flex-start;
  --border-inner: solid 1px var(--wjh-color-border);
}

.wjh-list-size-small {
  .wjh-list-item {
    padding-left: var(--padding-left-small);
  }

  .wjh-list-item-content {
    padding-right: var(--padding-right-small);
  }
}

.wjh-list-size-middle {
  .wjh-list-item {
    padding-left: var(--padding-left-middle);
  }

  .wjh-list-item-content {
    padding-right: var(--padding-right-middle);
  }
}

.wjh-list-item {
  position: relative;
  background-color: var(--wjh-color-background);
  line-height: 2.25rem;
  padding-left: var(--padding-left-middle);

  .wjh-list-item-content {
    padding-right: var(--padding-right-middle);
    display: flex;
    align-items: var(--align-item);
    justify-content: flex-start;

    .wjh-list-item-content-main {
      flex: auto;
    }

    .wjh-list-item-content-extra {
      display: inline-block;
      padding: 0 6Px;
      max-width: 70%;
      white-space: nowrap;
    }

    .wjh-list-item-content-arrow {
      display: inline-block;
      font-size: 1.2rem;
    }
  }
}

.wjh-list-item:not(:first-child) {
  .wjh-list-item-content {
    border-top: var(--border-inner);
  }
}
