@import '@/style/theme.scss';
@import '@/style/mixin.scss';

.quick-view {
  @include radius;
  @include shadow;
  padding: 16Px 20Px;
  background-color: var(--wjh-color-background-container);

  .quick-view-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--wjh-color-text);
  }

  .quick-view-body {
    margin-top: 0.5rem;
    border-top: 2Px solid var(--wjh-color-border);
  }

  .quick-view-title {
    font-size: 1.3rem;
    display: flex;
    align-items: center;

    text {
      font-weight: 800;
      padding-left: .7rem;
      margin-left: .7rem;
      line-height: 100%;
      border-left: 3Px solid var(--wjh-color-text);
    }
  }

  .sub-text {
    font-size: 0.75rem;
    line-height: 1.2rem;
    color: var(--wjh-color-week);
  }

  .quick-view-help-icon {
    font-size: 1.2rem;
    color: var(--wjh-color-primary-dark);
    line-height: 150%;
  }

  .default-content {
    margin: 1.2rem;
    text-align: center;
    line-height: 200%;
  }

}
