.content {
  text-align: left;
  font-size: 14Px;
  color: var(--wjh-color-text);

  .paragraph {
    margin-bottom: 10Px;
    text-align: justify;

    &:last-child {
      margin-bottom: 0;
    }
  }
}