@import "@/style/theme.scss";

.wjh-steps {
  display: inline-flex;
  align-items: center;
  padding: 10Px 0;

  .wjh-steps-item:not(:first-child) {
    margin-left: 0.6rem;
  }
}

.wjh-steps-item {
  background-color: var(--wjh-color-light);
  border-radius: 1000Px;
  width: 6Px;
  height: 6Px;
}

.wjh-steps-item-active {
  color: var(--wjh-color-white);
  background-color: var(--wjh-color-cyan);
  text-align: center;
  font-size: 0.75rem;
  width: 1rem;
  height: 1rem;
  border: 2px solid white;
  box-shadow: var(--wjh-color-cyan) 0 0 0 1Px;
}
