.scroll-view {
  flex: 1;
  min-height: 0;
  width: 100%;
}

.bus-detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 20Px;
}
