@import "@/style/theme.scss";

.container {
  text-align: center;
  padding: 8Px;
  font-size: 1.0rem;
  color: var(--wjh-color-text-secondary);
  background-color: var(--wjh-color-primary-light);
  display: flex;
  justify-content: center;
  gap: 8Px;
  align-items: center;
  z-index: 1000;
  padding-bottom: env(safe-area-inset-bottom);
  @include shadow;

  .arrow {
    rotate: 90deg;
    width: 0;
    height: 0;
    border: 7Px solid transparent;
    border-bottom: 12Px solid var(--wjh-color-primary-dark);
  }

  .helpicon {
    font-size: 1.2rem;
    color: var(--wjh-color-primary-dark);
    line-height: 150%;
  }
}