@import "@/style/theme.scss";

.container {
  text-align: center;
  padding: 8Px;
  font-size: .8rem;
  color: var(--wjh-color-gray);
  background-color: var(--wjh-color-primary-light);
  display: flex;
  justify-content: center;
  gap: 8Px;
  align-items: center;
  z-index: 1000;
  @include shadow;

  .arrow {
    rotate: 90deg;
    width: 0;
    height: 0;
    border: 7Px solid transparent;
    border-bottom: 12Px solid var(--wjh-color-secondary);
  }
}

.ios {
  padding-bottom: 2rem;
}
