@import "@/style/theme.scss";
@import "@/style/mixin.scss";

.wjh-list {
  --padding-left-small: 6Px;
  --padding-right-small: 6Px;
  --padding-left-middle: 12Px;
  --padding-right-middle: 12Px;

  --align-item: flex-start;
  --border-inner: solid 1px var(--wjh-color-border);

  padding: 4Px 0;
  background-color: var(--wjh-color-background-container);
  @include radius;
  @include shadow;
}

.wjh-list-size-small {
  .wjh-list-item {
    padding-left: var(--padding-left-small);
  }

  .wjh-list-item-content {
    padding-right: var(--padding-right-small);
  }
}

.wjh-list-size-middle {
  .wjh-list-item {
    padding-left: var(--padding-left-middle);
  }

  .wjh-list-item-content {
    padding-right: var(--padding-right-middle);
  }
}

.wjh-list-inner {
  box-shadow: none;
  border-radius: 0;
}

.wjh-list-item {
  position: relative;
  line-height: 2.5rem;

  .wjh-list-item-content {
    display: flex;
    align-items: var(--align-item);
    justify-content: flex-start;
    align-items: center;

    .wjh-list-item-content-main {
      flex: auto;
      display: flex;
      gap: 0.4rem;
    }

    .wjh-list-item-content-arrow {
      flex: 0 0 1.2rem;
      display: inline-block;
      font-size: 1.2rem;
      font-weight: var(--wjh-font-weight-bold);
    }

  }
}

.wjh-list-item:not(:first-child) {
  .wjh-list-item-content {
    border-top: var(--border-inner);
  }
}
