@import '@/style/theme.scss';

.lessons-table-quick-view {
  .wjh-card {
    box-shadow: none;
    margin: 0.5rem 0;
  }

  .wjh-card-body {
    padding: 0.5rem 0;
  }


  .lesson-item {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    gap: 4Px;

    .important-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4Px;
    }

    .lesson-place {
      color: var(--wjh-color-secondary);
      font-weight: var(--wjh-font-weight-bold);
      font-size: 1.1rem;
    }

    .taking-lesson {
      color: var(--wjh-color-secondary);
      font-size: 0.8rem;
    }

    .before-lesson {
      color: var(--wjh-color-text-secondary);
      font-size: 0.8rem;
    }

    .lesson-name {
      font-size: 0.9rem;
    }

    .teacher {
      font-size: 0.8rem;
    }

    .week {
      color: var(--wjh-color-week);
    }

    .iconfont {
      font-size: 0.875rem;
    }

    .col {
      min-width: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .red {
      color: red;
    }

    .split {
      display: inline-block;
      background-color: var(--wjh-color-week);
      vertical-align: middle;
      height: 4rem;
      width: 0.05rem;
    }

    .left {
      width: 64%;
    }

    .right {
      width: 36%;
      text-align: end;
    }

  }

}
