@import '@/style/theme.scss';

.lessons-table-quick-view {
  .wjh-card {
    box-shadow: none;
    margin: 0.5rem 0;
  }

  .wjh-card-body {
    padding: 0.5rem 0;
  }

  .lesson-item {
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    height: 4rem;

    .bold {
      font-weight: bold;
    }

    .small {
      font-size: 0.75rem;
    }

    .taking {
      color: var(--wjh-color-cyan);
    }

    .week {
      color: var(--wjh-color-week);
    }

    .iconfont {
      font-size: 0.875rem;
    }

    .name {
      font-size: 0.875rem;
    }

    .col {
      min-width: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .red {
      color: red;
    }

    .split {
      display: inline-block;
      background-color: var(--wjh-color-week);
      vertical-align: middle;
      height: 4rem;
      width: 0.05rem;
    }

    .left {
      width: 64%;
    }

    .right {
      width: 36%;
      text-align: end;
    }

  }

  .empty {
    margin: 1.5rem 0;
    text-align: center;
  }
}
