.bolder {
  font-weight: bolder;
}
.lesson {
  border-radius: 0.5rem;

  box-shadow: 0.3em 0.3em 0.5em rgba(0, 0, 0, 0.3);
  display: flex;
  margin: 0.5rem;
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  .name {
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .col {
    margin-left: 0.5rem;
    min-width: 4rem;
    display: flex;
    flex-direction: column;
  }
  .right {
    text-align: center;
  }
  .red {
    color: red;
  }
}

.div-line {
  background: #e0e3da;
  width: 100%;
  height: 0.1rem;
}
