@import "@/style/theme.scss";

.container {
  @include shadow;
  width: 100%;
  padding: 0 18Px;
  box-sizing: border-box;
  background: var(--wjh-color-background-container);
  border-radius: 8Px;
  margin-bottom: 12Px;
}

.header {
  display: flex;
  padding-top: 14Px;
  padding-bottom: 10Px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2Px solid var(--wjh-color-border);

  .title {
    padding-left: .6rem;
    border-left: 2Px solid;
    font-size: 1.1rem;
    line-height: 100%;
  }

  .icon-box {
    display: flex;
    border-radius: 4Px;
    color: var(--wjh-color-orange-600);
    background-color: var(--wjh-color-orange-400);
    font-size: 0.8rem;
    align-items: center;
    padding: 2Px 6Px;
    gap: 4Px;
  }

  .time {
    font-size: 0.8rem;
    line-height: 80%;
  }
}

.flex-container {
  padding: 50px 0;
  display: flex;

  .content {
    display: flex;
    flex-direction: column;
    line-height: 200%;
    padding: 6Px 0;
    white-space: pre-wrap;
    flex: 1;
  }

  .image {
    width: 125Px;
    height: 200Px;
    box-sizing: border-box;
    border: 1Px solid var(--wjh-color-border);
    border-radius: 12px;
  }
}

.loan {
  .header {
    color: var(--wjh-color-green-700);
  }
}

.pend {
  .header {
    color: var(--wjh-color-orange-600);
  }
}

.complete {
  .header {
    color: var(--wjh-color-blue-700);
  }
}

.button {
  font-size: 0.9rem;
  width: 200px;
}