@import '@/style/mixin.scss';
@import '@/style/theme.scss';

.bind-view {

  .wjh-card-header {
    font-size: 1.2rem;
    font-weight: var(--wjh-font-weight-medium);
    justify-content: center;
  }

  .title {
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    display: block;
  }

}

.bind-list {
  margin-bottom: 20Px;
  font-size: 0.875rem;

  .wjh-list-item {
    @include radius;
    background-color: var(--wjh-color-week);
    color: var(--wjh-color-white);

    .wjh-list-item-content-main {
      align-items: center;
    }
  }

  .binded {
    background-color: var(--wjh-color-primary);
  }
}

.form-help-wrapper {
  text-align: end;
  position: absolute;
  right: 0;

  .form-help {
    padding: 10Px;

    .iconfont {
      color: var(--wjh-color-secondary);
      font-size: 1.2rem;
    }
  }
}

.beta-badge::before {
  position: absolute;
  content: "beta";
  top: -1rem;
  right: 0;
  padding: 4Px 8Px;
  line-height: 100%;
  background-color: var(--wjh-color-red);
  border-radius: 16Px;
}

