.line-modal {
  :global {
    .wjh-modal-header {
      color: var(--wjh-color-primary);
      padding-bottom: 5Px;
    }

    .wjh-modal-body {
      padding-top: 0;
      line-height: inherit;
      max-height: 60vh;
      overflow: auto;
    }
  }
}

.content {
  text-align: left;
  padding-bottom: 16Px;

  .group-section {
    margin-bottom: 20Px;

    &:last-child {
      margin-bottom: 0;
    }

    .group-title {
      display: flex;
      align-items: center;
      margin-bottom: 12Px;
      font-size: 15Px;
      color: var(--wjh-color-text);

      .dot {
        display: inline-block;
        width: 8Px;
        height: 8Px;
        background-color: var(--wjh-color-primary);
        border-radius: 4Px;
        margin-right: 8Px;
      }
    }
  }

  .chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12Px;

    .chip {
      background-color: var(--wjh-color-primary);
      color: white;
      padding: 6Px 14Px;
      border-radius: 6Px;
      font-size: 14Px;
    }
  }
}