@import '@/style/theme.scss';

.connect-view {

  .wjh-card-header {
    font-size: 1.2rem;
    font-weight: var(--wjh-font-weight-medium);
    margin: 0 auto;
    justify-content: center;
  }

  .wjh-list-item-content {
    font-size: 0.875rem;
  }
}