@import '@/style/theme.scss';

.connect-view {

  .header-text {
    font-size: 1.5rem;
    font-weight: var(--wjh-font-weight-medium);
    margin: 0 auto;
  }

  .wjh-list-item-content {
    font-size: 0.875rem;
  }
}
