scroll-view {
	height: 100vh;
}
.feedback-view {
	padding: 1rem;
	padding-top: 200px;
	padding-bottom: 150px;
}
.cell-button {
	position: relative;
	display: flex;
	width: 100%;
	line-height: 20Px;
	padding: 13Px 16Px;
	background: #fff;
	font-size: 14Px;
	color: #666666;
	margin: 0;
	box-shadow: none;
	box-sizing: border-box;
}

.nut-cell-group__title {
  font-size: 14Px;
  line-height: 20Px
}
