@import '@/style/theme.scss';
@import '@/style/mixin.scss';

.questionnaire {
  @include radius;
  @include shadow;
  padding: 16Px 20Px;
  background-color: var(--wjh-color-background);
  opacity: 95%;

  .questionnaire-header {
    display: flex;
    color: var(--wjh-color-text);

    .questionnaire-action {
      display: flex;
      gap: .5rem;
      align-items: center;

      text {
        font-size: .9rem;
        color: var(--wjh-color-cyan);
      }
    }
  }

  .questionnaire-body {
    overflow: hidden;
    max-height: 500px;
    margin-top: 0.5rem;
    border-top: 2Px solid var(--wjh-color-border);
    transition: all 0.3s;
  }

  .questionnaire-title {
    flex: auto;
    font-size: 1.3rem;
    font-weight: 800;
    vertical-align: middle;
    display: flex;
    align-items: center;

    .questionnaire-name-icon {
      height: 18Px;
      width: 20Px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .title-split {
      display: inline-block;
      background-color: var(--wjh-color-text);
      vertical-align: middle;
      height: 1.2rem;
      width: 3Px;
      margin: 0 0.7rem;
    }
  }

  .sub-text {
    font-size: 0.75rem;
    line-height: 1.2rem;
    color: var(--wjh-color-week);
  }

  .questionnaire-close-icon {
    font-size: 1.2rem;
    color: var(--wjh-color-cyan);
    line-height: 150%;
  }

  .default-content {
    margin: 1.2rem;
    text-align: center;
    line-height: 200%;
  }

}
