@import '@/style/theme.scss';
@import '@/style/mixin.scss';

.questionnaire {
  @include radius;
  @include shadow;
  padding: 16Px 20Px;
  background-color: var(--wjh-color-background);
  opacity: 95%;

  .questionnaire-header {
    display: flex;
    color: var(--wjh-color-text);

    .questionnaire-action {
      display: flex;
      gap: .5rem;
      align-items: center;

      text {
        font-size: .9rem;
        color: var(--wjh-color-secondary);
      }
    }
  }

  .questionnaire-body {
    overflow: hidden;
    max-height: 500px;
    margin-top: 0.5rem;
    border-top: 2Px solid var(--wjh-color-border);
    transition: all 0.3s;
  }

  .questionnaire-title {
    font-size: 1.3rem;
    display: flex;
    align-items: center;

    text {
      font-weight: 800;
      padding-left: .7rem;
      margin-left: .7rem;
      line-height: 100%;
      border-left: 3Px solid var(--wjh-color-text);
    }
  }

  .sub-text {
    font-size: 0.75rem;
    line-height: 1.2rem;
    color: var(--wjh-color-secondary);
  }

  .questionnaire-close-icon {
    font-size: 1.2rem;
    color: var(--wjh-color-secondary);
    line-height: 150%;
  }

  .default-content {
    margin: 1.2rem;
    text-align: center;
    line-height: 200%;
  }

}
