@import '@/style/theme.scss';

.background {
  background: none;
}

.header-view {
  height: 200Px;
  background-color: var(--wjh-color-primary);
  display: flex;

  image {
    height: 65%;
    margin: auto;
  }

}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.2rem 1rem;
}

.info-card {
  .dormitory-info {
    display: flex;
    gap: 24rpx;
    align-items: center;
  }

  .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16rpx;
    height: 50Px;
    width: 50Px;
    color: var(--wjh-color-white);
    background: var(--wjh-color-primary);
    flex-shrink: 0;

    .iconfont {
      font-size: 1.6rem;
    }
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16rpx;

    .week {
      color: var(--wjh-color-week);
      font-size: 0.8rem;
      top: 60%;
      left: 0;
    }
  }
}

.electricity-list-item {

  .text-wrapper {
    display: flex;
    gap: 16rpx;
    flex: auto;
  }
}

.rest-number {
  font-size: 1.2rem;
  font-weight: 600;
}

.dangerous {
  color: var(--wjh-color-red-600);
}

.normal {
  color: var(--wjh-color-primary);
}

.today {
  color: var(--wjh-color-week);
}
