@import "@/style/theme.scss";

.switch-core {
    background-color: #545454;
    border-radius: 30px;
    width: 120px;
    height: 48px;
    display: flex;
    align-items: center;

    .switch-action {
        background-color: var(--wjh-color-white);
        border-radius: 100%;
        height: 45px;
        width: 45px;
        align-items: center;
    }
}