@import "@/style/theme.scss";

.switch-container {

    background-color: var(--wjh-color-white);
    border-radius: 30px;
    width: 120px;
    height: 48px;
    display: flex;
    align-items: center;
    position: relative;


    &.active {
      background-color: var(--wjh-color-week);
    }

    .switch-slider {
        $sliderRadius: 40px;
        $sliderMarginLeft: 8%;

        background-color: var(--wjh-color-week);
        border-radius: 100%;
        height: $sliderRadius;
        width: $sliderRadius;
        align-items: center;
        transition: all 0.3s;
        position: absolute;
        left: calc(100% - $sliderMarginLeft - $sliderRadius);

        &.active {
            background-color: var(--wjh-color-white);
            left: $sliderMarginLeft;
        }
    }
}
