@import "@/style/theme.scss";

.header {
  height: 200Px;
  background-color: var(--wjh-color-primary);
  display: flex;

  image {
    height: 100%;
    margin: 0 auto;
  }
}

.input {
  border: 2Px solid var(--wjh-color-light);
  padding: 0.3rem 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.2rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.button {
  display: flex;
  justify-content: space-around;

  .button_cancle {
    background-color: var(--wjh-color-primary-light) !important;
    color: var(--wjh-color-primary-dark);
    flex: 1;
  }
  .button_save {
    flex: 1;
  }

}

.line{
    display: flex;
    justify-content: space-around;
    .name{
      flex: 1;
      margin-right: 40px;
    }

    .sex{
      flex: 1;
    }
}

