@import "@/style/theme.scss";

.header {
  height: 200Px;
  background-color: var(--wjh-color-primary);
  display: flex;

  image {
    height: 100%;
    margin: 0 auto;
  }
}

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.2rem 1rem;
}

.text1 {
  font-weight: normal;
  font-size: 1rem;
  color: var(--wjh-color-text);
  line-height: 2.9;
  padding: 0 0.5rem;
}

.text2 {
  font-weight: normal;
  font-size: 1rem;
  color: var(--wjh-color-text);
  line-height: 1.3;
  padding: 0 0.5rem;
}

.text3 {
  font-weight: normal;
  font-size: 1rem;
  color: black;
  line-height: 1.3;
  padding: 0 0.5rem;
}

.text4 {
  position: relative;
  font-weight: normal;
  font-size: 1rem;
  color: var(--wjh-color-text);
  line-height: 1.3;
  padding: 0 0.5rem;
  margin-left: 2.7rem;
  margin-top: -1.3rem;
  top: -0.7rem;
}

.rounded {
  border-radius: 14px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 6px;
  margin-left: 2.8rem;
  margin-top: -2.2rem;
  margin-bottom: 0.4rem;
  width: 12rem;
}

.rounded2 {
  border-radius: 14px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 6px;
  margin-left: 3.34rem;
  margin-top: -4rem;
  margin-bottom: 2rem;
  width: 12rem;
  color: black;
}

.button_cancle {
  background-color: var(--wjh-color-primary-light) !important;
  color: var(--wjh-color-primary-dark);
  margin-left: 20%;
  margin-top: -4rem;
}
.button_safe {
  margin-top: -4rem;
  margin-left: 25%;
}

.button_editor {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -2rem;
}

.conntact_text {
  color: black;
  margin-left: 3.3rem;
  position: relative;
  top: 1rem;
}

.conntact_text1_change {
  margin-top: 1rem;
  font-weight: normal;
  font-size: 1rem;
  color: var(--wjh-color-text);
  line-height: 1.3;
  padding: 0 0.5rem;
}

.conntact_text2_change {
  margin-bottom: 2rem;
  font-weight: normal;
  font-size: 1rem;
  color: var(--wjh-color-text);
  line-height: 1.3;
  padding: 0 0.5rem;
}

.conntact_text1_nochange {
  margin-top: -0.87rem;
  font-weight: normal;
  font-size: 1rem;
  color: var(--wjh-color-text);
  line-height: 1.3;
  padding: 0 0.5rem;
}

.conntact_text2_nochange {
  margin-bottom: 2rem;
  font-weight: normal;
  font-size: 1rem;
  color: var(--wjh-color-text);
  line-height: 1.3;
  padding: 0 0.5rem;
}
