@import '@/style/frame';

.page {
	height: 100vh;
}
.title-text {
	font-size: 1.5rem;
	font-weight: bold;
}

.header {
	text-align: center;
	position: sticky;
	padding: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 999;
	.image {
		transition: all 0.5s;
		height: 300px;
		margin: 1rem;
	}
}

.keep-header {
	display: flex;
	flex-direction: column;
	margin: 1rem;
}

.content {
	padding: 1rem;
	width: inherit;
	padding-bottom: 5rem;

	.title {
		font-size: 2rem;
		font-weight: bolder;
	}
	image {
		width: 100%;
	}
}
