.route-line-container {
  padding: 0 6% 0 6%;
  box-sizing: border-box;
  margin: 10Px 6% 20Px 6%;
  :global(.wjh-list-item-content-main) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  :global(.wjh-list-item) {
    padding: 0;
  }
  :global(.wjh-collapse-panel-header-active) {
    .route-title {
      transition: all 0.3s;
      color: var(--wjh-color-primary);
      border-bottom-color: var(--wjh-color-primary);
    }
    .text {
      color: var(--wjh-color-primary);
    }
    .triple-arrow {
      color: var(--wjh-color-primary) !important;
    }
  }
}

.route-title {
  font-size: 18Px;
  color: var(--wjh-color-text);
  min-width: 250Px;
  line-height: 25Px;
  font-weight: bold;
  text-align: start;
  transition: all 0.3s;
}

.route-direction {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5Px;
  line-height: 25Px;

  .text {
    font-size: 16Px;
    color: var(--wjh-color-week);
    transition: all 0.3s;
  }

  .triple-arrow {
    color: var(--wjh-color-light);
    font-size: 3rem;
    transition: all 0.3s;
  }
}

.station-list {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin-top: 20Px;
}

.station-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30Px;
  font-size: 14Px;
  color: var(--wjh-color-text);
  width: 100%;

  &:first-child {
    border-radius: 5Px 5Px 0 0;
    background-color: var(--wjh-color-primary);
    opacity: 0.8;
  }
  &:last-child {
    border-radius: 0 0 5Px 5Px;
  }
}
