@import "@/style/theme";

.container {
  position: relative;
  z-index: 0;
}

.title {
  font-size: 1.2rem;
  word-break: break-word;
  font-weight: var(--wjh-font-weight-medium);
  justify-content: center;
  text-align: center;
  padding: 12Px 0;
  border-bottom: 1Px solid var(--wjh-color-border);
}

.publisher {
  text-align: center;
  font-size: 0.75rem;
  color: var(--wjh-color-week);
}

.content {
  white-space: break-spaces;
  font-size: 0.875rem;
  color: var(--wjh-color-week);
  color: var(--wjh-color-text);
  line-height: 125%;
  margin: 16Px auto;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
}

.link {
  padding-top: 16Px;
  margin-top: 16Px;
  font-size: .9rem;
  text-align: center;
  color: var(--wjh-color-green-600);
}

.publish-time {
  text-align: center;
  font-size: 0.75rem;
  color: var(--wjh-color-week);
}

.img_container{
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16Px auto;
}

.x{
  font-weight: 900;
  font-size: xx-large;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_container{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.25);
  height: 40Px;
}
