@import '@/style/mixin.scss';
@import "@/style/theme.scss";

.background {
  background-image: url("~@/assets/photos/background-yellow.svg");
}

.header-view {
  height: 200Px;
  background-color: var(--wjh-color-yellow);
  display: flex;

  image {
    height: 95%;
    margin: auto;
  }

  .extra {
    position: absolute;
    color: var(--wjh-color-white);
    right: 16Px;
    top: 145Px;
    text-align: center;

    .icon-wrapper {
      width: 32Px;
      height: 32Px;
      background-color: var(--wjh-color-white);
      text-align: center;
      border-radius: 50%;

      .extra-icon {
        color: var(--wjh-color-yellow);
        font-size: 1.5rem;
      }
    }

    .label {
      font-size: 0.75rem;
    }
  }
}

.canteen-flow-list {
  display: flex;
  align-items: center;
  gap: 16Px;

  .name-wrapper {
    @include radius;
    display: inline-block;
    padding: 0.5rem;
    height: 40Px;
    width: 40Px;
    color: var(--wjh-color-white);
    font-size: 1.875rem;
    text-align: center;
  }

  .col:not(:first-child):not(:last-child) {
    flex: 1;
    font-size: 0.875rem;
    line-height: 1.8rem;

    :last-child {
      color: var(--wjh-color-week);
    }
  }

  .col:first-child {
    flex: 0 0 20%;
  }

  .col:last-child {
    flex: 0 0 20%;
    font-size: 1.5rem;
    font-weight: var(--wjh-font-weight-medium);
  }
}
