@import '@/style/theme.scss';

.score-quick-view {
  .wjh-card {
    box-shadow: none;
    margin: 0.5rem 0;
  }

  .wjh-card-body {
    padding: 0.6rem 0;
  }

  .score-card {
    background: var(--wjh-color-orange-400);
    position: relative;

    .score-title {
      font-size: 1.1rem;
      line-height: 1.5rem;
    }

    .score-res {
      text-align: end;
      color: var(--wjh-color-week);
    }
  }
}
