.filter-quick-field {
  display: flex;
  line-height: 20Px;
  overflow-x: auto;
  white-space: nowrap;
  gap: 8Px;
  padding-bottom: 2Px;

  // Hide scrollbar
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    color: transparent;
  }
}