@import "@/style/theme.scss";

.background {
  background-image: none;
  // background-image: url("~@/assets/photos/background-yellow.svg");
}

.school-card {
  text-align: center;
  height: 200Px;

  .school-card-background {
    position: absolute;
    height: 200Px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    z-index: 100;
  }

  image {
    position: absolute;
    height: 150Px;
    width: 100%;
    left: 0;
    z-index: 200;
    top: 20Px;
  }

  .balance {
    color: var(--wjh-color-cyan);
    position: relative;
    top: 72Px;
    font-size: 2rem;
    font-weight: var(--wjh-font-weight-medium);
    z-index: 300;
  }
}

.consume-card {
  margin-top: 24Px;
  min-height: calc(100% - 200Px - 24Px);

  .swicher {
    flex: 1;

    button {
      border-radius: 0;
      font-size: 0.875rem;
    }

    button:first-child {
      border-radius: 1000px 0 0 1000px;
    }

    button:last-child {
      border-radius: 0 1000px 1000px 0;
    }

    .button-not-active {
      background-color: #def9f3;
      color: var(--wjh-color-cyan);
    }
  }

  .col {
    flex: 1;
    text-align: center;
  }

  .col:first-child {
    flex: 0 0 20%;
  }

  .col:last-child {
    flex: 0 0 20%
  }
}
