@import "@/style/theme.scss";
@import "./dark.scss";

.school-card {
  text-align: center;
  height: 200Px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right,
        var(--wjh-color-yellow-600) 20%,
        var(--wjh-color-orange-600) 20% 40%,
        var(--wjh-color-green-600) 40% 60%,
        var(--wjh-color-green-700) 60% 80%,
        var(--wjh-color-blue-600) 80%);
  }

  .school-card-background {
    position: absolute;
    height: 200Px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    z-index: 100;
  }

  image {
    position: absolute;
    height: 150Px;
    width: 100%;
    left: 0;
    z-index: 200;
    top: 20Px;
  }

  .balance {
    color: var(--wjh-color-green-700);
    position: relative;
    top: 72Px;
    font-size: 2rem;
    font-weight: var(--wjh-font-weight-bold);
    z-index: 300;
  }
}

.consume-card {
  margin-top: 24Px;
  min-height: calc(100% - 200Px - 24Px);
  border-radius: 16Px;

  .swicher {
    flex: 1;

    button {
      border-radius: 0;
      font-size: 0.875rem;
    }

    button:first-child {
      border-radius: 1000px 0 0 1000px;
    }

    button:last-child {
      border-radius: 0 1000px 1000px 0;
    }

    .button-not-active {
      background-color: #def9f3 !important;
      color: var(--wjh-color-green-700);
    }
  }

  .wjh-card-header {
    .col {
      flex: 1;
      text-align: center;
    }

    .col:first-child {
      flex: 0 0 30%;
    }

    .col:last-child {
      flex: 0 0 30%
    }
  }

}

.consume-item-card {
  padding: 0;
  box-shadow: none;

  .content-wrapper {
    display: flex;
    gap: 1rem;

    .col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
    }

    .col:first-child {
      min-width: 3.3rem;
      font-size: 1.2rem;
      font-weight: var(--wjh-font-weight-bold);
      padding: 0 0.8rem;
      flex: 0 0 70Px;
    }

    .col:first-child::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 1Px;
      right: 0;
      background-color: var(--wjh-color-week);
    }

    .col:last-child {
      color: var(--wjh-color-text);
      font-size: 0.8rem;
      gap: 0.3rem;
    }

    .transactions {
      text-align: center;
    }
  }
}

.consume-item-positive {
  background-color: var(--wjh-color-orange-400);
}

.consume-item-negative {
  background-color: var(--wjh-color-primary-light);
}
