$nav-bar-height: 49Px;
$nav-bar-padding-top: 8Px;
$applit-padding-top: .8rem;

.applist {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 33.3333%);
  width: 90%;
  margin: 0 auto;
  padding-bottom: calc($nav-bar-height + $nav-bar-padding-top + $applit-padding-top);
  padding-top: $applit-padding-top;
}
