.bus-announce-card {
  margin: 5% 6% 0 6%;

  :global(.wjh-card-header) {
    font-size: 15Px;
    font-weight: var(--wjh-font-weight-medium);
    justify-content: center;
  }

  .time-wrapper {
    font-size: 12Px;
    text-align: end;
  }
}
