@import '@/style/frame';

.page {
  height: 100vh;
  position: absolute;
  top: 0;
}
scroll-view {
	height: 100vh;
}
.quick-card-view {
  max-width: 40rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding-bottom: 6rem;
}
.app-list-card {
  @include blur;
  padding: 1rem 0;
  margin: 1rem;
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
  z-index: 999;
}

.no-active {
  text-align: center;
}
