@import '@/style/frame';

.page {
  height: 100vh;
  position: absolute;
  top: 0;
}
.quick-card-view {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding-bottom: 5rem;
}
.app-list-card {
  @include card;
  @include radius;
  padding: 1rem 0;
  margin: 1rem;
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
  z-index: 999;
}

.no-active {
  text-align: center;
}
