.header {
  height: 400px;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  background-color: rgba($color: #fff, $alpha: 0.7);
  backdrop-filter: blur(10px);
  width: 100vw;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quick-card-view {
  display: flex;
  flex-direction: column;
  :first-child {
    margin-top: 550px;
  }
  :last-child {
    margin-bottom: 300px;
  }
}
