@import "@/style/theme.scss";

.theme-card {
  padding: 0;
  .footer-text {
    text-align: center;
    opacity: 0.6;
  }

  .theme-config {
    padding: 0 0 1rem 0;
    text-align: center;

    .theme-config-title {
      position: relative;
      top: 5px;
    }
  }

  .tab-bar {
    background-color: var(--wjh-color-background-container);
    display: grid;
    column-gap: 1rem;
    padding: 2rem 1rem 1.25rem 1rem;

    .tab-noActivity {
      display: grid;

      .tab-noActivity-block-outer {
        display: grid;
        aspect-ratio: 1;
        border-radius: 15px;
        box-sizing: border-box;
        border: 6rpx solid transparent;
        transition: border 0.3s ease;

        .tab-noActivity-block-inner {
          display: grid;
          aspect-ratio: 1;
          width: 96%;
          margin: 2%;
          border-radius: 15px;
          opacity: 0.6;
        }
      }
    }

    .tab-activity {
      display: grid;
      .tab-activity-block-outer {
        display: grid;
        aspect-ratio: 3/2;
        border-radius: 15px;
        box-sizing: border-box;
        border: 6rpx solid transparent;
        transition: border 0.3s ease;
        .tab-activity-block-inner {
          height: 88%;
          width: 96%;
          margin: 2%;
          border-radius: 15px;
          opacity: 0.8;
        }
      }
    }

    .tab-name {
      height: 2rem;
      font-size: 0.8rem;
      text-align: center;
    }

  }

  .tab-bar.noActivity {
    grid-template-columns: repeat(4, 1fr);
  }
  .tab-bar.activity {
    border-top: 1px solid var(--wjh-color-border);
    grid-template-columns: repeat(2, 1fr);
  }
}
