@import '@/style/theme.scss';

.lab-card {

  .footer-text {
    text-align: center;
  }

  .theme-config {
    padding: 0 1rem 1rem 1rem;
    text-align: center;

    .theme-config-title {
      position: relative;
      top: 5px;
    }
  }

  .tab-bar {
    background-color: var(--wjh-color-background-container);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 2rem 0 1.25rem 0;
    gap: 48px;

    .tab-noActivity {
      width: 90px;
      height: 110px;
    }

    .tab-noActivity-block {
      width: 90px;
      height: 90px;
      border-radius: 10px;
      font-size: 0.875rem;
      opacity: 0.8;

      // .tab-dark {
      //   background-color: ;
      // }
    }

    .tab-block-activity {
      border-top: 1Px solid var(--wjh-color-black);
    }

    .tab-name {
      height: 2rem;
      font-size: 0.8rem;
    }

    .active {
      border: 3px solid var(--wjh-color-primary-dark);
    }

  }
}
