@import "@/style/theme.scss";

.header-view {
  height: 200Px;
  background-color: var(--wjh-color-green);
  display: flex;

  image {
    height: 100%;
    margin: 0 auto;
  }
}

.announcement-card {

  .wjh-card-header {
    font-size: 1.5rem;
    font-weight: var(--wjh-font-weight-medium);
    justify-content: center;
  }

  .wjh-card-body {
    font-size: 0.875rem;
    color: var(--wjh-color-week);
    white-space: break-spaces;
    color: var(--wjh-color-text);
  }

  .wjh-card-footer {
    color: var(--wjh-color-week);
  }

  .time-wrapper {
    font-size: 0.75rem;
    text-align: end;
  }
}