@import "@/style/theme.scss";

.header-view {
  height: 200Px;
  background-color: var(--wjh-color-green);
  display: flex;

  image {
    height: 100%;
    margin: 0 auto;
  }
}

.tab-bar {
  background-color: var(--wjh-color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12Px 0;

  .tab {
    padding: 7Px 12Px;
    background-color: var(--wjh-color-cyan-light);
    color: var(--wjh-color-cyan);
    font-size: 0.875rem;
  }

  .active {
    background-color: var(--wjh-color-primary);
    color: var(--wjh-color-white);
  }

  .tab:first-child {
    border-top-left-radius: 100Px;
    border-bottom-left-radius: 100Px;
  }

  .tab:last-child {
    border-top-right-radius: 100Px;
    border-bottom-right-radius: 100Px;
  }

}

.announcement-card {

  .wjh-card-header {
    font-size: 1.2rem;
    font-weight: var(--wjh-font-weight-medium);
    justify-content: center;
  }

  .wjh-card-body {
    font-size: 0.875rem;
    color: var(--wjh-color-week);
    white-space: break-spaces;
    color: var(--wjh-color-text);
  }

  .wjh-card-footer {
    color: var(--wjh-color-week);
  }

  .time-wrapper {
    font-size: 0.75rem;
    text-align: end;
  }
}
