.route-line-container {
  padding: 0 6% 0 6%;
  box-sizing: border-box;
  margin: 10Px 6% 20Px 6%;
  >:global(.wjh-card-body) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.route-title {
  font-size: 18Px;
  color: var(--wjh-color-primary);
  padding-bottom: 10Px;
  min-width: 250Px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2Px solid var(--wjh-color-primary);
}

.route-direction {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .text {
    font-size: 16Px;
    color: var(--wjh-color-text);
  }

  .triple-arrow {
    color: var(--wjh-color-primary);
    font-size: 3rem;
  }
}

.station-list {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.station-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30Px;
  font-size: 14Px;
  color: var(--wjh-color-text);
  width: 100%;

  &:first-child {
    border-radius: 5Px 5Px 0 0;
    background-color: var(--wjh-color-primary);
    opacity: 0.8;
    color: black;
  }
  &:last-child {
    border-radius: 0 0 5Px 5Px;
  }
}
