@import '@/style/theme.scss';
@import "@/style/mixin.scss";

.wjh-card-size-small {
  padding: 0 8px;

  .wjh-card-body {
    padding: 6px 0;
  }
}

.wjh-card-size-middle {
  padding: 0 16px;

  .wjh-card-body {
    padding: 12px 0;
  }
}

.wjh-card {
  @include radius;
  @include shadow;
  background-color: var(--wjh-color-background-container);

  .wjh-card-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid var(--wjh-color-border);
  }


  .wjh-card-footer {
    border-top: 1px solid var(--wjh-color-border);
    padding: 12px 0;
  }
}
