@import '@/style/theme.scss';

.wjh-card {
  @include radius;
  @include shadow;
  padding: 0 16Px;
  background-color: var(--wjh-color-background);

  .wjh-card-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16Px 0;
    border-bottom: 1px solid var(--wjh-color-border);
  }

  .wjh-card-body {
    padding: 12Px 0;
  }

  .wjh-card-footer {
    border-top: 1px solid var(--wjh-color-border);
    padding: 12Px;
  }
}
