.collapse-view {
  padding-top: 150px;
  padding-bottom: 50px;
}
scroll-view {
  height: 100vh;
}
.collapse-wrapper {
  height: auto !important;
}

.collapse-title-value {
  font-size: 14px;
  line-height: 20px;
  font-weight: 800;
}

text {
  font-size: 14px;
  line-height: 20px;
}
