@import '@/style/theme.scss';

.faq-view {

  .wjh-collapse-panel-header {
    .wjh-list-item-content-main {
      font-weight: var(--wjh-font-weight-medium);
    }
  }

  .answer-wrapper {
    display: flex;
    flex-direction: column;

    text {
      font-size: 0.875rem;
      line-height: 170%;
    }
  }
}
