@import '@/style/theme.scss';

.building-card {

  .wjh-card-header {
    font-size: 1.2rem;
    font-weight: var(--wjh-font-weight-medium);
    justify-content: center;
  }

  .room-card {
    padding: 0.1rem;
    margin: 0.3rem;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1.2rem;
    border: 3px solid var(--wjh-color-primary-dark);
    background-color: var(--wjh-color-primary-light);
    border-radius: 8Px;
  }

  .building-card-body {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 0 auto;
  }

  .room-name {
    color: var(--wjh-color-primary-dark);
  }

  .room-seats {
    color: var(--wjh-color-weak);
  }
}
