.bus-detail-container {
  padding: 0 6% 0 6%;
  box-sizing: border-box;
  margin: 10Px 6% 20Px 6%;
  :global(.wjh-list-item-content-main) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  :global(.wjh-list-item) {
    padding: 0;
  }
  :global(.wjh-collapse-panel-header-active) {
    .bus-detail-title {
      transition: all 0.3s;
      color: var(--wjh-color-primary);
    }
    .campus-row {
      color: var(--wjh-color-primary);
    }
    .dot {
      background-color: var(--wjh-color-primary);
    }
    .triple-arrow {
      color: var(--wjh-color-primary) !important;
    }
  }
}

.bus-detail-title {
  font-size: 18Px;
  font-weight: bold;
  min-width: 250Px;
  line-height: 25Px;

  color: var(--wjh-color-text);
  text-align: start;
}

.bus-detail-route {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  gap: 5Px;

  .route-point {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .campus-row {
    display: flex;
    align-items: center;
    font-size: 16Px;
    line-height: 25Px;
    color: var(--wjh-color-week);
  }

  .dot {
    display: inline-block;
    position: relative;
    top: 8Px;
    width: 9Px;
    height: 9Px;
    margin-right: 5Px;
    background-color: var(--wjh-color-light);
    border-radius: 9Px;
  }
  .triple-arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25Px;
    .triple-arrow {
      color: var(--wjh-color-light);
      font-size: 3rem;
    }
  }


}

.schedule-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 20Px;
  .table-header {
    background-color: var(--wjh-color-primary);
    opacity: 0.8;
    font-size: 15Px;
    color: white;
    border-radius: 5Px 5Px 0 0;
  }

  .table-row {
    display: flex;
    align-items: center;
    height: 28Px;

    &:last-child {
      border-radius: 0 0 5Px 5Px;
    }

    .col {
      flex: 1;
      text-align: center;
      font-size: 13Px;

      &.col-seats {
        font-weight: 500;
      }

      &:last-child {
        border-right: none;
      }
    }
    .divider {
      visibility: hidden;
    }
    .seats-num {
      &.zero {
        color: var(--wjh-color-text-secondary);
      }
    }
    // 工作日发车 or 节假日发车 or 都发车
    .departure-days {
      font-size: 12Px;
      color: var(--wjh-color-text-secondary);
    }
  }
  .table-row.has-divider {
    .divider {
      visibility: visible;
      font-size: 14Px;
      color: white;
    }
  }
}
