$white-600: #fdfdfd;

$dp-1: #121212;
$dp-2: #1e1e1e;
$dp-3: #232323;
$dp-4: #252525;
$dp-5: #272727;
$dp-6: #2c2c2c;
$dp-7: #2e2e2e;
$dp-8: #333333;
$dp-9: #363636;
$dp-10: #383838;

$green-500: #d3f5ed;
$green-600: #53d1b6;
$green-700: #51bbbb;

$green-dark-500: #334843;
$green-dark-600: #4ab59e;
$green-dark-700: #48a2a2;

$blue-500: #d3effd;
$blue-600: #81c6e7;
$blue-700: #17ade8;

$blue-dark-500: #283740;
$blue-dark-600: #71abc7;
$blue-dark-700: #a0cddf;

$yellow-500: #fff6cb;
$yellow-600: #f3c33d;
$yellow-700: #feb50b;

$yellow-dark-500: #665220;
$yellow-dark-600: #b78f44;
$yellow-dark-700: #dfbf67;

$orange-400: #ffedcd;
$orange-500: #ffedcd;
$orange-600: #f0ad3e;

$orange-dark-400: #ffedcd;
$orange-dark-500: #ffedcd;
$orange-dark-600: #f0ad3e;

$red-400: #ffe7e6;
$red-500: #f7b9b7;
$red-600: #eb8888;
$red-700: #c4686b;
$red-800: #9e4c51;

$red-dark-400: #40292a;
$red-dark-500: #754848;
$red-dark-600: #da8484;
$red-dark-700: #e8a8a8;
$red-dark-800: #e8c1c0;

$purple-500: #f5e6ff;
$purple-600: #d7b3f2;
$purple-700: #b885e6;

$purple-dark-500: #392947;
$purple-dark-600: #6e4598;
$purple-dark-700: #926ebb;

$pink-500: #f9e5eb;
$pink-600: #fdb1c7;
$pink-700: #ff8fb0;

$pink-dark-500: #5b3943;
$pink-dark-600: #b4687d;
$pink-dark-700: #d89dac;
