.headerView {
  height: 200Px;
  background-color: var(--wjh-color-primary);
  display: flex;

  image {
    height: 100%;
    margin: 0 auto;
  }

  .extra {
    position: absolute;
    color: var(--wjh-color-white);
    right: 16Px;
    top: 145Px;
    text-align: center;

    .iconWrapper {
      width: 32Px;
      height: 32Px;
      background-color: var(--wjh-color-white);
      text-align: center;
      border-radius: 50%;

      .extraIcon {
        color: var(--wjh-color-primary);
        font-size: 1.5rem;
      }
    }

    .label {
      font-size: 0.75rem;
    }
  }
}

.examBottomPanel {

  .col {
    text-align: center;
    flex: auto;

    &:first-child {
      flex: 0 0 20%;
      text-align: end;
    }

    &:last-child {
      flex: 0 0 20%;
      text-align: start;
    }
  }
}