@import '@/style/theme.scss';

.exam-card {

  .wjh-collapse-panel-header {
    .lesson-name {
      font-weight: var(--wjh-font-weight-medium);
    }

    .wjh-list-item-content {
      line-height: initial;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  .exam-detail-list {
    width: 100%;
    font-size: 0.75rem;
  }
}

.wjh-collapse-panel-active {
  .lesson-name {
    transition: all 0.3s;
    color: var(--wjh-color-cyan);
  }
}

.header-view {
  height: 200Px;
  background-color: var(--wjh-color-green);
  display: flex;

  image {
    height: 100%;
    margin: 0 auto;
  }

  .extra {
    position: absolute;
    color: var(--wjh-color-white);
    right: 16Px;
    top: 150Px;

    .extra-icon {
      font-size: 1.5rem;
    }

    :last-child {
      font-size: 0.75rem;
    }
  }
}
