@import "@/style/theme.scss";

.wjh-collapse {
  overflow: hidden;
  color: var(--wjh-color-text);

  .wjh-collapse-panel-header {
    margin: 0 6Px;
  }

  .wjh-collapse-panel-header-active {
    .wjh-list-item-content-arrow {
      transform: rotate(-90deg) !important;
    }
  }

  .wjh-list-item-content-arrow {
    transition: all 0.3s;
  }

  .wjh-collapse-panel-content {
    max-height: 0;
    transition: max-height 0.3s;
    box-sizing: border-box;
    overflow: hidden;
  }

  .wjh-collapse-panel-content-active {
    transition: all 0.5s;
    max-height: 500Px;
  }

}

