.filter-keyword-field {
  display: flex;
  align-items: center;
  gap: 10px;

  .search-input-container {
    display: flex;
    align-items: center;
    flex: auto;
    border-radius: var(--row-field-border-radius, 6px);
    overflow: hidden;
    gap: 5px;
    padding-left: 8px;
    background-color: var(--wjh-color-background-container);

    .search-icon {
      color: var(--wjh-color-primary);
    }

    .search-input {
      width: 100%;
      height: var(--row-height, 32px);
      color: var(--wjh-color-text);
      background-color: transparent;
      font-size: 14px;
      margin-right: 8px;
    }
  }

  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;

    .description {
      color: var(--wjh-color-text-secondary);
      font-size: 10px;
    }

    :global(.iconfont) {
      color: var(--wjh-color-primary);
      font-size: 20px;
    }
  }
}