@media (prefers-color-scheme: dark) {
	button {
		background-color: #6d6d6d;
		&.active {
			background-color: gainsboro;
			color: black;
		}
		&.button-active {
			background-color: gainsboro;
			color: black;
		}
	}
}
