@import './light.scss';
@import './dark.scss';
@import '@/style/theme.scss';
.card {
	@include radius;
	margin: 0.5rem;
	padding: 2rem;
	.title {
		font-size: 1.5rem;
		margin: 0.5rem;
		font-weight: bolder;
	}
	.sub-text {
		font-size: 0.8rem;
		line-height: 1.2rem;
	}
}
