// @import './light.scss';
// @import './dark.scss';
@import '@/style/theme.scss';
.card {
  @include radius;
  margin: 0.5rem;
  padding: 40px;
  background-color: white;
  .title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    vertical-align: middle;
    font-weight: lighter;

    .iconfont {
      vertical-align: middle;
    }

    .title-split {
      display: inline-block;
      background-color: black;
      vertical-align: middle;
      height: 1.4rem;
      width: 0.1rem;
      margin: 0 0.7rem;
    }
  }
  .sub-text {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}
