@import '@/style/theme.scss';

.background {
  background-image: none;
}

.header-view {
  height: 200Px;
  background-color: var(--wjh-color-green);
  display: flex;
  align-items: center;

  image {
    height: 100%;
    flex: 0 0 60%;
  }

  .summary {
    line-height: 1.5rem;
    color: var(--wjh-color-white);
    font-weight: var(--wjh-font-weight-medium);

    text {
      font-size: 1.7rem;
    }
  }
}

.borrow-card {
  margin-top: 24Px;

  .swicher {
    flex: 1;

    button {
      border-radius: 0;
      font-size: 0.875rem;
    }

    button:first-child {
      border-radius: 1000px 0 0 1000px;
    }

    button:last-child {
      border-radius: 0 1000px 1000px 0;
    }

    .button-not-active {
      background-color: #def9f3;
      color: var(--wjh-color-cyan);
    }
  }

  .col {
    flex: 1;
    text-align: center;
  }

  .col:first-child {
    flex: 0 0 20%;
  }

  .col:last-child {
    flex: 0 0 20%;
  }
}

.box-card {
  background-color: var(--wjh-color-green);

  :not(:first-child) {
    font-size: 0.875rem;
    color: var(--wjh-color-week);
  }
}
