@import '@/style/theme.scss';

.wjh-title-bar {
  width: 100vw;
  display: inline-flex;
  background-color: var(--wjh-color-background);
  z-index: 3000;

  .wjh-title-bar-back-button {
    color: var(--wjh-color-text);
    font-size: 2rem;
    border-radius: 5rem;
  }

  .wjh-title-bar-title {
    color: var(--wjh-color-text);
    font-size: 1.3rem;
    font-weight: var(--wjh-font-weight-bold);
    margin-left: 0.3rem;
  }
}

.bg-default {
  animation-duration: 1s;
  /* 动画时长1s */
  animation-fill-mode: forwards;
  /*当动画完成后，保持最后一个属性值（在最后一个关键帧中定义）*/
  animation-iteration-count: infinite;
  /* 动画次数 无限次 */
  animation-name: animationa;
  /* 执行动画名称 */
  animation-timing-function: linear;
  /* 动画速度，线性匀速 */
  /* background: #f6f7f8; */
  background: linear-gradient(to right, var(--wjh-color-cyan) 8%, #dddddd 18%, var(--wjh-color-cyan) 33%);
  /* 背景颜色 */
  background-size: 750px auto;
  /* 背景大小 */
  width: 100%;
  min-height: 10px;
  top: 0;
  position: fixed;
  z-index: 9999;
}

@keyframes animationa {

  /* 修改背景定位 */
  0% {
    background-position: -750rpx 0;
  }

  100% {
    background-position: 750rpx 0;
  }
}
