@import '@/style/theme.scss';

.wjh-title-bar {
  width: 100vw;
  display: inline-flex;
  background-color: var(--wjh-color-background-page);

  padding: var(--menu-rect-top-offset) 16Px 4Px 16Px;
  height: var(--menu-rect-height);

  &-left-container {
    display: flex;
    align-items: center;
  }

  &-back-button {
    color: var(--wjh-color-text);
    font-size: 28Px;
  }

  &-title {
    color: var(--wjh-color-text);
    font-size: 20Px;
    font-weight: var(--wjh-font-weight-bold, 500);
  }

  &-spinner {
    width: 16Px;
    height: 16Px;
    opacity: 0.3;
    margin-left: 12Px;
  }
}