@import './theme.scss';

.tabs {
	button {
		border-radius: 0.5rem;
		display: inline;
		margin-left: 0;
		margin-right: 0;
		border-width: 0;
	}
	:first-child {
		border-radius: 0.5rem 0 0 0.5rem;
	}

	:last-child {
		border-radius: 0 0.5rem 0.5rem 0;
	}
}

.sub-text {
	font-size: 1rem;
	display: block;
	padding-left: 0.5rem;
	color: #404040;
}