page {
  background-color: #f5f5f5;
  font-family: 'Alibaba-PuHuiTi-Regular', 'Alibaba-PuHuiTi-Medium';

  --wjh-font-weight-bold: 700;
  --wjh-font-weight-medium: 500;
  --wjh-font-weight-regular: 400;

  --wjh-backdrop-blur: saturate(180%) blur(20px);
  --wjh-shadow: 1Px 1Px 8Px 1Px rgba(0, 0, 0, 0.1);
}

scroll-view {
  flex: 1;
  height: 1Px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.2rem 1rem;
}