// TODO: 静态图标统一到 iconfont 中

.wjh-icon-exam {
  background-image: url('~@/assets/icons/applist/exam.svg');
}

.wjh-icon-freeroom {
  background-image: url('~@/assets/icons/applist/freeroom.svg');
}

.wjh-icon-electricity {
  background-image: url('~@/assets/icons/applist/electricity.svg');
}


.wjh-icon-lessonstable {
  background: url('~@/assets/icons/applist/lessonstable.svg');
}

.wjh-icon-library {
  background-image: url('~@/assets/icons/applist/library.svg');
}

.wjh-icon-schoolbus {
  background-image: url('~@/assets/icons/applist/schoolbus.svg');
}

.wjh-icon-schoolecard {
  background-image: url('~@/assets/icons/applist/schoolcard.svg');
}

.wjh-icon-score {
  background-image: url('~@/assets/icons/applist/score.svg');
}

.wjh-icon-lessonstable-fill {
  background: url('~@/assets/icons/quickview/lessonstable.svg');
}

.wjh-icon-exam-fill {
  background: url('~@/assets/icons/quickview/exam.svg');
}

.wjh-icon-schoolcard-fill {
  background: url('~@/assets/icons/quickview/schoolcard.svg');
}

.wjh-icon-score-fill {
  background: url('~@/assets/icons/quickview/schoolcard.svg');
}

.wjh-icon-library-fill {
  background: url('~@/assets/icons/quickview/library.svg');
}

.wjh-icon-electricity-fill {
  background: url('~@/assets/icons/quickview/electricity.svg');
}

.wjh-icon-questionnaire-fill {
  background: url('~@/assets/icons/quickview/questionnaire.svg');
}

@font-face {
  font-family: 'iconfont';
  src: url('data:font/ttf;charset=utf-8;base64,AAEAAAANAIAAAwBQRkZUTZWRmTcAABiQAAAAHEdERUYAKQAkAAAYcAAAAB5PUy8yPG1N4QAAAVgAAABgY21hcNg/06AAAAIAAAAB+mdhc3D//wADAAAYaAAAAAhnbHlmubKE7gAABDwAABBgaGVhZCMNtfQAAADcAAAANmhoZWEH3wOLAAABFAAAACRobXR4FsgE/QAAAbgAAABIbG9jYT1KOLQAAAP8AAAAPm1heHABMgCMAAABOAAAACBuYW1lXoIBAgAAFJwAAAKCcG9zdNw2Y9UAABcgAAABSAABAAAAAQAAcqPJ3l8PPPUACwQAAAAAAN/2uRcAAAAA3/a5F//9/0kEBAOAAAAACAACAAAAAAAAAAEAAAOA/4AAXAQE//0AAAQEAAEAAAAAAAAAAAAAAAAAAAAGAAEAAAAeAIAACgAAAAAAAgAAAAoACgAAAP8AAAAAAAAABAQAAZAABQAAAokCzAAAAI8CiQLMAAAB6wAyAQgAAAIABQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUGZFZADA5gDrEgOA/4AAAAPcALgAAAABAAAAAAAAAAAAAAAgAAEEAAAAAAAAAAFVAAAEAAAyBAQAfQQAADcAQAAeAEAAG//9AFoAewAAAP8AaQA+ABMAgAAAAGEA1QCVADsBaAE9ADwAkAAgACsAAAADAAAAAwAAABwAAQAAAAAA9AADAAEAAAAcAAQA2AAAADIAIAAEABLmAOYD5grmDOYT5hfmGuYi5iTmLuZe5nDmc+am5rHmt+a85wvnI+dE59joU+ks6xL//wAA5gDmAuYJ5gzmE+YX5hrmIuYk5i7mXuZw5nPmpuax5rfmvOcL5yPnQ+fY6FPpLOsS//8aAxoCGf0Z/Bn2GfMZ8RnqGekZ4BmxGaAZnhlsGWIZXRlZGQsY9BjVGEIXyBbwFQsAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABBgAAAQAAAAAAAAABAgAAAAIAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAagDAASABZgGwAgACRgKCAuwDQAN6A6AD6AQiBN4FLAVKBZwGCAZoBroGzgbiByAHgAfsCDAAAAABADL/swPIA0oARwAAASY2NzY/AS4BIyIOAhQeAjMyPgI3PgEzMhYVFAcOAyMiLgI0PgIzMhYXNj8BPgEeARcWHwEWFAcGBw4BLwEuAgKsEQMKAxEpK3ZGQXBUMDBUcEE1X085DQcnGx8sBRVUdI1OX6h8SUl8qF9ptT8YEBQGDgwKAgEBAgEBARAIIRI9IT0uAe0IGwkCDSIxODBUcYBwVDAiPVMxGB4tHg8NSHlXMUh9p76ofElXSxENEAUFBRARCRYzHT8bIxAIAgQOBw8NAAAAAAIAff/+BAQDgAATADIAAAEeARQGDwEGByc3Njc+AR4BFx4BATY/AQEXDwEGDwEGBw4FBwYmNzY/AT4BNz4BA/oEBgsLJwgHwB4QDA4fHRwKFjT88QYXOAF6v9xSKSE2FQQLGh03PTYNHBIEAggQCRAFBhADEAkZGxoMJggHwBsQCQsJAQgFCzj97QcXOAF6wNxTKCE3FgMJFA4UFA4CAxYbDhs5HTEJDxcAAAADADf/uQPHAtUACwAXAD0AAAEjIiY0NjsBMhYUBgcjIiY+ATsBMhYUBgMTPgEeAQcDBgcVFgYjISImNzY3PgE3LgE3ND4BMh4BFRQGBx4BA67qCg8PCuoKDw8gswsPAQ4LswsPD6F8BBQTCQORAwUCIRr9lRkiAgcjIm5FLzYBOGFzYTk1L1N8AqIPFg4OFg+hDxUPDxUP/k0BQwoJCBML/ogHBAMZJiUaS0JAXBYeYTg6Yzk5Yzo4YR4aewAAAAACAEAACAPBAvgAGQAsAAABJiMiBisBBg8BBhQXFjI/AREUFjI2NRE0JgEmIg8BETQmIgYVERQWMj8BPgEBmBIYAwwDAwkM8hISEjARkyItIwoCDxIwEpYhLiIiLxL1FAEC5hIDBgzyEi8PEhKS/hEYISIXAnUMGP6FEhKVAe8YISIX/YUYIRL1ETAAAAIAHv+CA+IDgAAfAC4AACUnNz4BNTQnJicmIgcGBwYUFxYXFjMyPwETFjI/ATY0JSIuATQ+ATIXHgEUBgcGA9XxBi0wNTVaXt9fXDY3NzZcX3BSSwf7DiUNQA3900l5R0d5kT07RkY7PQ/nBDWDSGpbWDQ1NTRYW9RdWjU3IAX+/Q0NQA0l+UR0inVEIyF1inQhIwACAED/tgOeA4AABwAzAAAlFA4BIi4BJxM0JiIGFRQXDgEHBh0BBwYHBgcGByIGFBYzITI2NCYiJyYnJj0BNCcuASc2An8nQk5CJgHwOE85AkNuHyEBAQQFCQsQFB0cFAL+FBwcKQwJBAIfHm5FATcjOyMiPCMC8iQzMyQHBxVeQENJdxsgGyUWGwEZJBkZJBktHzMaE3hKQkFeFAcAAAAAAgAb/0kD4gMQABgAKQAAASIHDgEHBhQXHgEXFjI3PgE3NjQnLgEnJhMBBiIvASY0NjIfAQE2MhYUAf9jWlaGJSYmJYZWWsVaV4UlJiYlhVdaqP7EDioOsA8dKg6NARgPKR4DECYlhldZxVpXhiQmJiSGV1rFWVeGJSb+hP7FDw+wDykdDo0BGA8eKQAD//3/rQQDA1YADQAXACEAAAkBJiIHAQ4BFjMhMjYmBREUFjMhMjY1EQEjNTQ+ATIeARUD4P5ADiQO/kAbCCQfA4AfJAf8hB8UAo0XHP8A7R81PzgiAjMBGgkJ/uYPOCwsOF7+GhccHxQB5v4U5h81Hx81HwAAAAADAFr/4gOmAy8AFAAeAEMAAAEiBwYHBhQXFhcWMjc2NzY0JyYnJgMGIiY0NjIWBgc3BgcOARcVIzUmNzY/ATY3JicmByYGBwYXIyY+Ahc2HgIHFAIAc2JgODk5OGBi5mJgODk5OGBiWA4kGholGwENVxkbEBMBQAENGykKEAEBExYdER8LEgI+ARQoNx0aMicTAQMvOjhgYuZiYDg5OThgYuZiYDg6/YoNGiQaGiUN7BkWDSUVCgoeGywgCxQYHBQTAQEODhwhHDYoFAECDyEtGSkAAAQAe//AA4UDQQAMABkANQA2AAABMh4BFA4BIi4BND4BMzIeARQOASIuATQ+AQMzMhcWFxYdARQHBgcGKwEiJyYnJj0BNDc2NzYzAfY+aT09aXtpPT1pPT5pPT1pe2k9PWkYvlBFQicoKCJHMGW+aSxHIigoJ0JFUANBPGd6Zz09Z3pnPDxnemc9PWd6Zzz99SgmQkNPEx0QDQQDAgQNEB4TT0NCJigAAAMAAP+ABAADgAARACEAJQAAAScmIyEiBhURFBYzITI2NRE0BRQGIyEiJj0BNDYzITIWFQczFSMD67EVHv1CHisrHgNuHiv+2yYb/jkbJiYbAccbJpJJSQK6sRUrHvySHisrHgK+HpsbJiYboxsmJhsIkwAAAQD//7sDAQNFABIAAAUWMjcBNjQnASYiBhQXCQEGFBcBFRU9FQFvFhb+kRU9KxYBO/7FFhYvFhYBehY+FgF6Fiw+Fv67/rsWPhYAAAMAaf/NA5cDTgALABoAJwAAARcWFAcFJSY0PwEFJRcWFAcFBiInJSY0PwEFEwUWFAcFJSY0NyU2MgNZMwsL/nT+dAsLMwFZAVkzCwv+igoYCv6KCwszAVkWAXYLC/50/nQLCwF2ChgBwB8GGAbu7gYYBh/PBh4HGAbgBwfgBhgHHs4DH+AHGAbu7gYYB+AGAAMAPgACA74CwAALABcAIwAAASEiDgEdASE1NC4BARQeATMhMj4BNREhBTMyFhQGKwEiJjQ2Azv9hSM8IwOAJDv83yM8IwJ7JDsk/IACHLsOExMOuw4TEwLAIjkhQkIhOSL9viI5ISE5IgEFwhQcFBQcFAAACgAT/4AD7gOAAAUAEQAdADsARwBTAGEAbQB5AH8AAAEnAQc/ARMiBh0BFBY2PQE0JiMiBh0BFBY2PQE0JgEmLwEmJxE0LgEjISIOARURFB4BMyEyPgE9ATc+AQE0NjIWHQEUBiImNSU0NjIWHQEUBiImNRMjIiY0NjsBMh4BFA4BNyEiJjQ2MyEyFhQGExQGIiY9ATQ2MhYVEwYHNwEXA2oi/usKLQQSBwsSEwvjBwsSEwsCUwQROA4TIDUf/X0fNh8fNh8Cgx81IF4KCP4jNUw2Nkw1/rcVHhUVHhVtdw8WFg93ChEKChGJ/vYPFhYPAQoPFRUWNkw1NUw2nhIqCwEVMQFnIf7rPAgYAikKCG4KCwsKbggKCghuCgsLCm4ICv7BGRE3DwUBViA1Hx81IPzoIDUfHzUgvF8KGgE7JjU1Jm4lNjYlpQ8VFQ/cDxUVD/6TFR4WChEUEQmSFh4VFR4WARIlNjYlbiY1NSb9twMHPAEVMgAAAAIAgAAAA4ADAAAUADAAAAEiBwYHBhQXFhcWMjc2NzY0JyYnJhMWFAYiLwEHBiImND8BJyY0NjIfATc2MhYUDwECAGhZVzM1NTNXWdBZVzM1NTNXWTgKFBkKc3MKGRQKc3MKFBkKc3MKGRQKcwMANTNXWdBZVzM1NTNXWdBZVzM1/g0KGRQKc3MKFBkKc3MKGRQKc3MKFBkKcwAAAAEAAP/VBAADKwAMAAABNQkBNTIEFyYnJicmAY7+cgGO1gEyah9ETnqKAkfk/nH+cumNlZt5i1dhAAAAAAMAYf/LA6kDNwAcACkANgAAEzQ2MyEyFhURFAYjISIGFBYzITIWFAYjISIuATUBITEiBhQWMyE+ATQmJyExIgYUFhchPgE0JmEvIgKJIS8vIf2ZFyAfFwK4DBIRDP1IHzUfAp797gwSEgwCEg0REgz97gwSEgwCEg0REgLnIS8vIf3RIi8cJx0SGBIdMR4BaRIYEgERGRGqEhgRAQERGREAAAAABADVACsDawLVABoAMQA9AEkAAAEzMh4BBg8BBisBIiY/ASMiJj8BPgE7ATIWBwMhIiY1ETQ2MyEyFh0BIyIGBwMGFjsBASIGFBY7ATI2NCYjByIGFBY7ATI2NCYjAwFUBwoFAQSwBgoGBgcCLD4KDQNGAwsHUQsNA7z+jBIZGRICABIZbQ0WBVgHGRYo/t0JDQ0JwAkMDAnACQ0NCYAJDAwJASsHCwwF1gcJBpsSCtYGCBEL/pwZEgIrERkZEasQDf8AFSMBgA0SDAwSDWsMEg0NEgwAAAAABACV/9UDcwMVABQAIQAuADoAAAEyFxYXFhQHBgcGIicmJyY0NzY3NhciBgcVHgEyNjc1LgElHwEeAQ4BLwEuAT4BJzIeAQYPASIuATY3AgBjVFIwMjIwUlTGVFIwMjIwUlRjDBICAhIYEgICEgEmAzEKAxAZCjUJAxAYxw0SAhANxA0SAhANAqsyMFJUxlRSMDIyMFJUxlRSMDKAEAzJDA8PDMkMEHoCKwgZFAUHLggZFARpERkUAQESGRMCAAAAAwA7/8cDuwNHAAkAIwAvAAA3IR4BHQEhNTQ2AQMuASMhDgEHAwYWFwEeATsBETMRPgE3ATYFLgEnPgE3HgEXDgFzAxAaHvyAHwMZZQgfEf5LER0EawQBCQEdCRgMCz4NFgQBHhn+hjdIAgJINzhIAQFIFQEdGhYWFiECCgEBEhYBFA3++Q0eDf5yDQkBB/7+AQ0JAY0ZQAJHODdIAgJINzRLAAABAWgAaQKsApcABQAAASc3CQEnAlHpLQEX/uktAYDpLv7p/ukuAAAAAQE9AGkCgQKXAAUAAAEnCQE3JwKBLf7pARct6QJpLv7p/uku6QAAAAEAPP/rA8IDFAAoAAAJASYiBwEGFxY7AREUFjsBMjY9ATQ2OwEyFh0BFBY7ATI2NREzMjY3NgO3/n4WPhb+fg0GCAstKyDgCQwlGQQaJAwJ4x8nKwYLAgQB0QExEhL+zwwLD/6IICgLCpoYIyMYmgoLKCABeAgHDwAAAAAEAJAAEANwAvAADwAfAC8APwAAASEiBhURFBYzITI2NRE0JgMhIgYVERQWMyEyNjURNCYBISIGFREUFjMhMjY1ETQmAyEiBhURFBYzITI2NRE0JgNg/tAHCQkHATAHCQkH/tAHCQkHATAHCQn+af7QBwkJBwEwBwkJB/7QBwkJBwEwBwkJAvAJB/7QBwkJBwEwBwn+cAkH/tAHCQkHATAHCQGQCQf+0AcJCQcBMAcJ/nAJB/7QBwkJBwEwBwkAAAAFACD/ogPeA14AHAAiAC4AOgBGAAABLgErASc2NTQmIgYdARYXByMiBhURHgEzITI2NQE3FjcXIQchMhYUBiMhIiY0NgEhIiY0NjMhMhYUBjchIiY0NjMhMhYUBgPeAyQYvJoRNEs1Ag+avBsmAiYbAzwaJf2fZB8ie/7JuAE/DhQUDv7BDhQUAbn+VQ4UFA4BrA8UFtP9dA4UFA4CjA4UFAH5GCCaFiEmNjUmCBsTmiYb/e8aJSYbAmZlDQ17sBQcFBQcFP7PFBwUFBwUdhQcFBQcFAAAAAAHACv/1QPVAwAAAwAKAA4AGAAfACMAJwAAASE1IQERMzI2PQElITUhJTU0JiMhIgYdAQEhFRQWOwIhESE1ITUhAVX+1gEqAVb1Fh/+1gEq/tYBKh8W/MAWHwEq/tYfFvUrAQD/AAEA/wABANX/AP8AIBbKK9UryxYfHxbL/tXKFiABACvVAAAAAAASAN4AAQAAAAAAAAATACgAAQAAAAAAAQAIAE4AAQAAAAAAAgAHAGcAAQAAAAAAAwAIAIEAAQAAAAAABAAIAJwAAQAAAAAABQALAL0AAQAAAAAABgAIANsAAQAAAAAACgArATwAAQAAAAAACwATAZAAAwABBAkAAAAmAAAAAwABBAkAAQAQADwAAwABBAkAAgAOAFcAAwABBAkAAwAQAG8AAwABBAkABAAQAIoAAwABBAkABQAWAKUAAwABBAkABgAQAMkAAwABBAkACgBWAOQAAwABBAkACwAmAWgAQwByAGUAYQB0AGUAZAAgAGIAeQAgAGkAYwBvAG4AZgBvAG4AdAAAQ3JlYXRlZCBieSBpY29uZm9udAAAaQBjAG8AbgBmAG8AbgB0AABpY29uZm9udAAAUgBlAGcAdQBsAGEAcgAAUmVndWxhcgAAaQBjAG8AbgBmAG8AbgB0AABpY29uZm9udAAAaQBjAG8AbgBmAG8AbgB0AABpY29uZm9udAAAVgBlAHIAcwBpAG8AbgAgADEALgAwAABWZXJzaW9uIDEuMAAAaQBjAG8AbgBmAG8AbgB0AABpY29uZm9udAAARwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABzAHYAZwAyAHQAdABmACAAZgByAG8AbQAgAEYAbwBuAHQAZQBsAGwAbwAgAHAAcgBvAGoAZQBjAHQALgAAR2VuZXJhdGVkIGJ5IHN2ZzJ0dGYgZnJvbSBGb250ZWxsbyBwcm9qZWN0LgAAaAB0AHQAcAA6AC8ALwBmAG8AbgB0AGUAbABsAG8ALgBjAG8AbQAAaHR0cDovL2ZvbnRlbGxvLmNvbQAAAAACAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB4AAAABAAIBAgEDAQQBBQEGAQcBCAEJAQoBCwEMAQ0BDgEPARABEQESARMBFAEVARYBFwEYARkBGgEbARwHcmVmcmVzaARlZGl0B3RlYWNoZXIFcGFpeHUNcXVlc3Rpb25uYWlyZQVhbGFybQdzdWNjZXNzCGZhbmdqaWFuBGhlbHAEdXNlcgRzYXZlGmljb25mb250aWNvbmZvbnRpMmNvcHljb3B5BnN3aXRjaApzY2hvb2xjYXJkBXNjb3JlBWNsb3NlBGJhY2sHbGlicmFyeQtlbGVjdHJpY2l0eQV0aW1lcgRleGFtC2Fycm93LXJpZ2h0CmFycm93LWxlZnQEaG9tZQdhcHBsaXN0DGFubm91bmNlbWVudAxsZXNzb25zdGFibGUAAAAB//8AAgABAAAADAAAABYAAAACAAEAAwAdAAEABAAAAAIAAAAAAAAAAQAAAADVpCcIAAAAAN/2uRcAAAAA3/a5Fw==') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
}

.icon-score:before {
  content: "\e673";
}

.icon-library:before {
  content: "\e6b7";
}

.icon-edit:before {
  content: "\e602";
}

.icon-lessonstable:before {
  content: "\eb12";
}

.icon-save:before {
  content: "\e624";
}

.icon-exam:before {
  content: "\e723";
}

.icon-electricity:before {
  content: "\e6bc";
}

.icon-close:before {
  content: "\e6a6";
}

.icon-questionnaire:before {
  content: "\e60a";
}

.icon-book:before {
  content: "\e932";
}

.icon-table:before {
  content: "\e601";
}

.icon-back:before {
  content: "\e6b1";
}

.icon-paixu:before {
  content: "\e609";
}

.icon-announcement:before {
  content: "\e92c";
}

.icon-success:before {
  content: "\e613";
}

.icon-alarm:before {
  content: "\e60c";
}

.icon-help:before {
  content: "\e61a";
}

.icon-refresh-cycle:before {
  content: "\e655";
}

.icon-refresh:before {
  content: "\e600";
}

.icon-schoolcard:before {
  content: "\e670";
}

.icon-home:before {
  content: "\e7d8";
}

.icon-applist:before {
  content: "\e853";
}

.icon-switch:before {
  content: "\e65e";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-teacher:before {
  content: "\e603";
}

.icon-user:before {
  content: "\e622";
}

.icon-timer:before {
  content: "\e70b";
}
