@import './components/button';
@import './components/input';
@import './components/header';
@import './components/list';

page {
  background-color: #f0f0f0;
}
.jc-index-panel {
  background-color: rgba(255, 255, 255, 0.7);
  @include blur;
}

.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  background-image: url('~@/assets/photos/background.svg');
  background-position: 50% 200%;
  background-repeat: no-repeat;
}

.wjh-icon-exam {
  background-image: url('~@/assets/icons/applist/exam.svg');
}
.wjh-icon-freeroom {
  background-image: url('~@/assets/icons/applist/freeroom.svg');
}
.wjh-icon-lessonstable {
  background: url('~@/assets/icons/applist/lessonstable.svg');
}
.wjh-icon-library {
  background-image: url('~@/assets/icons/applist/library.svg');
}
.wjh-icon-schoolbus {
  background-image: url('~@/assets/icons/applist/schoolbus.svg');
}
.wjh-icon-schoolecard {
  background-image: url('~@/assets/icons/applist/schoolcard.svg');
}
.wjh-icon-score {
  background-image: url('~@/assets/icons/applist/score.svg');
}
.wjh-icon-lessonstable-fill {
  background: url('~@/assets/icons/quickview/lessonstable.svg');
}
.wjh-icon-schoolcard-fill {
  background: url('~@/assets/icons/quickview/schoolcard.svg');
}
.wjh-icon-library-fill {
  background: url('~@/assets/icons/quickview/library.svg');
}
// comment: disable dark mode
/* @media (prefers-color-scheme: dark) {
	page {
		background-color: black;
	}
	.background {
		background-color: #6d6d6dc4;
	}
	.jc-index-panel {
		background-color: #6d6d6dc4;
		@include blur;
	}
	.nut-popup {
		background-color: #6d6d6d;
	}
	.nut-collapse-item .collapse-item {
		background-color: #6d6d6d;
		color: white;
	}
	.nut-collapse-item .collapse-wrapper .collapse-content {
		background-color: #6d6d6d;
		color: white;
	}
	.nut-cell-group__warp {
		background-color: #6d6d6d;
		.nut-cell {
			background-color: #6d6d6d;
			color: white;
		}
		.cell-button {
			background-color: #6d6d6d;
			color: white;
		}
	}
} */

.circle {
  border-radius: 999px;
}
