@import './components/button';
@import './components/input';
@import './components/card';
@import './components/header';
@import './components/list';

page {
	background-color: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
	page {
		background-color: black;
	}
}

.circle {
	border-radius: 999px;
}
