.item {
	background-color: white;
	border-radius: 1rem;
	margin: 0.5rem;
	position: relative;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;

	.cicle {
		color: white;
		margin-right: 0.5rem;
		border-radius: 10rem;
		font-size: 1.5rem;
		min-width: 3rem;
		height: 3rem;
		background-color: lightskyblue;
		display: flex;
		align-items: center;
		justify-content: center;

		text {
			text-align: center;
			font-size: 1.5rem;
			line-height: 3rem;
			max-width: 3rem;
			height: 3rem;
		}
	}

	.item-text {
		width: 100%;
		:first-child {
			font-weight: bolder;
			color: black;
		}
	}

	.tirm {
		width: 50%;
	}

	.ext {
		font-size: 1.5rem;
		margin-left: 1rem;
		min-width: 3rem;
		text-align: center;
		font-weight: bolder;
	}

	.red {
		color: red;
	}
}

.no-item {
	text-align: center;

	image {
		width: 100%;
	}
}
