@use "darkmode/light.scss";
@use "darkmode/dark.scss";

:host {
  --wjh-font-weight-bold: 700;
  --wjh-font-weight-medium: 500;
  --wjh-font-weight-regular: 400;
}

page {
  background-color: #f5f5f5;
  font-family: 'Alibaba-PuHuiTi-Regular', 'Alibaba-PuHuiTi-Medium';
}

@media (prefers-color-scheme: dark) {
  page {
    background-color: #000;
  }
}
