@mixin shadow {
  box-shadow: 1Px 1Px 8Px 1Px rgba(0, 0, 0, 0.1);
}

:host {
  --wjh-color-green: #53d1b6;
  --wjh-color-blue: #81c6e7;
  --wjh-color-cyan: #51bbbb;
  --wjh-color-orange: #f0ad3e;
  --wjh-color-yellow: #f0c03e;
  --wjh-color-desert: #ffc52a;
  --wjh-color-duck-yellow: #fcbd0f;
  --wjh-color-duck-yellow-light: #f5eab3;
  --wjh-color-sky-blue: #17ade8;
  --wjh-color-sky-blue-light: #d1f2fd;
  --wjh-color-gold: #f7e9c3;
  --wjh-color-red: #eb8888;
  --wjh-color-purple-dark: #5a4b7c;
  --wjh-color-purple: #8191cf;
  --wjh-color-purple-light: #e6e6fa;
  --wjh-color-gray: #888888;
  --wjh-color-white: #fdfdfd;
  --wjh-color-green-light: #bdf4e8;
  --wjh-color-orange-light: #ffedcd;
  --wjh-color-yellow-light: #fff6c9;
  --wjh-color-cyan-light: #def9f3;
  --wjh-color-blue-light: #D1F2FD;
  --wjh-color-gray-light: #c1c0c0;
  --wjh-color-dark: #4F4F4F;
  --wjh-color-dark-deep: #3f3f3f ;
  --wjh-color-dark-light: #a2a2a2;
  --wjh-color-dark-lighter: #bdbdbd;
}

:host {
  --wjh-color-text: #333;
  --wjh-color-text-secondary: #666;
  --wjh-color-week: #999;
  --wjh-color-light: #ccc;
  --wjh-color-border: #eee;
  --wjh-color-box: #f5f5f5;
  --wjh-color-background: #fff;
  --wjh-color-background-dark: #2a2a2a;
}

:host {
  --wjh-font-weight-bold: 700;
  --wjh-font-weight-medium: 500;
  --wjh-font-weight-regular: 400;
}
