@import "@/style/theme";

.sub-text-left {
  font-size: 0.75rem;
  line-height: 1.2rem;
  color: var(--wjh-color-week);
  float: left;
}

.sub-text-right {
  font-size: 0.75rem;
  line-height: 1.2rem;
  color: var(--wjh-color-red-600);
  float: right;
}

.electricity-card {
  box-shadow: none;

  .text-wrapper {
    display: flex;
    justify-content: center;
    gap: 16rpx;

    .dangerous {
      font-weight: 600;
      color: var(--wjh-color-red-600);
    }

    .normal {
      font-weight: 600;
      color: var(--wjh-color-primary);
    }
  }

  text {
    font-size: 1.2rem;
  }
}

.text-view {
  display: block;
  height: 1.2rem;
}
