@import "@/style/theme";

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.warn {
  font-size: 14px;
  color: var(--wjh-color-week);
}

.input-card {
  input {
    border: 2px solid var(--wjh-color-light);
    padding: 5px 8px;
    margin: 8px 0;
    border-radius: 4px
  }
}