.wjh-pop-view {
  transition: all cubic-bezier(0, -0.5, 1, 1.5) 0.2s;
  position: fixed;
  z-index: 1000;

  .mask {
    position: fixed;
    background: rgba(0, 0, 0, 0.65);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .wjh-pop-view-body {
    background-color: var(--wjh-color-background);
    width: 100%;
    z-index: 1010;
    position: fixed;
    margin: 0;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
  }

  .bottom {
    bottom: 0;
    left: 0;
  }

  .top {
    top: 0;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
