.yixing-title{
    font-size: 1.2rem;
    text-align: center;
    padding: 12Px 0 8Px 0;
}

.yixing-content{
    padding: 8Px 0 16Px 0;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .url{
    color: #762dc0;
    font-size: 0.95rem;
    font-weight: 600;
  }
}


