@import '@/style/theme.scss';
.schoolbus-container {
  width: 100%;
  height: 100%;
  background-color: white;
}

.schoolbus-title-bar {
  background-color: var(--wjh-color-primary-light);

  display: flex;
  justify-content: space-around;
  padding: 0 20px;

  .bus-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15Px;

    .iconfont {
      font-size: 2rem;
      margin-bottom: 8Px;
    }

    .description {
      font-size: 0.9rem;
      color: var(--wjh-color-text);
    }
  }
}

.function-block {
  margin-top: 10Px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .function-block-item {
    display: flex;
    align-items: center;
  }
}
