@import '@/style/theme.scss';
@import "./light.scss";
@import "./dark.scss";

.schoolbus-container {
  width: 100%;
  flex: 1;
  min-height: 0;
}

.schoolbus-title-bar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10Px 40Px;
  width: 100%;
  border-radius: 0 0 10Px 10Px;
  height: 140Px;
  align-items: center;
  gap: 5Px;
  background-color: var(--wjh-color-primary-light);
  .row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40Px;
    .search-input-container {
      display: flex;
      position: relative;
      width: 160Px;
      height: 30Px;
      border-radius: 7Px;
      overflow: hidden;
      z-index: 0;
      gap: 5Px;

      .search-icon {
        color: var(--wjh-color-primary);
        position: relative;
        top: 4Px;
        left: 2Px;
      }
      .search-input {
        width: 100%;
        height: 30Px;
        color: var(--wjh-color-text);
        background-color: transparent;
        font-size: 14Px;
        line-height: 30Px;
      }
    }
    .icon-wrapper {
      display: flex;
      flex-direction: column;
      gap: 2Px;
      justify-content: center;
      align-items: center;
      width: 40Px;
      height: 40Px;
      .description {
        color: var(--wjh-color-text-secondary);
        font-size: 9Px;
        opacity: 0.8;
      }
      .icon {
         color: var(--wjh-color-primary);
       }
      }
  }
  .row-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40Px;
    padding-bottom: 10Px;
    .route-selector {
      position: relative;
      width: 110Px;
      height: 30Px;
      border-radius: 7Px;
      overflow: hidden;
      z-index: 0;

      .picker-button {
        width: 100%;
        height: 30Px;
        color: var(--wjh-color-text);
        background-color: transparent;
        font-size: 14Px;
        line-height: 30Px;
      }
    }
    .routeSwapper {
      color: var(--wjh-color-primary);
      font-size: 2rem;
    }
  }
  .row-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40Px;

    .filter-item {
      font-size: 14Px;
      color: var(--wjh-color-text-secondary);
      padding: 4Px 12Px;
      border-radius: 15Px;

      &.active {
        color: var(--wjh-color-primary);
      }
    }

    .divider {
      font-size: 14Px;
    }
  }

}

