@import '@/style/theme.scss';
.schoolbus-container {
  width: 100%;
  flex: 1;
  min-height: 0;
}

.schoolbus-title-bar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10Px 40Px 10Px 40Px;
  width: 100%;
  border-radius: 0 0 8Px 8Px;
  height: 100Px;
  align-items: center;
  gap: 5Px;
  background-color: var(--wjh-color-primary-light);
  .row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40Px;
    .search-input-container {
      position: relative;
      width: 160Px;
      height: 30Px;
      border-radius: 7Px;
      border: 2Px solid var(--wjh-color-primary);
      overflow: hidden;
      z-index: 0;
      .search-icon {
        color: var(--wjh-color-primary);
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.2;
        z-index: -1;
      }
      .search-input {
        width: 100%;
        height: 30Px;
        color: var(--wjh-color-text);
        background-color: transparent;
        font-size: 14Px;
        line-height: 30Px;
      }
    }
    .icon-wrapper {
      display: flex;
      flex-direction: column;
      gap: 2Px;
      justify-content: center;
      align-items: center;
      width: 40Px;
      height: 40Px;
      .description {
        color: var(--wjh-color-text-secondary);
        font-size: 9Px;
        opacity: 0.8;
      }
      .icon {
         color: var(--wjh-color-primary);
       }
      }
  }
  .row-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40Px;
    border-bottom: 2Px solid white;
    padding-bottom: 10Px;
    .route-selector {
      position: relative;
      width: 110Px;
      height: 30Px;
      border-radius: 7Px;
      border: 2Px solid var(--wjh-color-primary);
      overflow: hidden;
      z-index: 0;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.2;
        z-index: -1;
      }
      .picker-button {
        width: 100%;
        height: 30Px;
        color: var(--wjh-color-text);
        background-color: transparent;
        font-size: 14Px;
        line-height: 30Px;
      }
    }
    .routeSwapper {
      color: var(--wjh-color-primary);
    }
  }
  .row-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40Px;
  }

}

