:global(.light) {
  .search-input-container {
    background-color: white;
  }
  .route-selector {
    background-color: white;
  }
  .row-2 {
    border-bottom: 2Px solid white;
  }
  .divider {
    color: white;
  }
}
