.container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 30Px;

  :global(.wjh-card-header) {
    flex-direction: column;
    padding-top: 12Px;
    padding-bottom: 8Px;
  }

  :global(.wjh-card-footer) {
    padding-top: 8Px;
  }
}

.container-with-open-type {
  :global(.wjh-card-header) {
    padding-top: 12Px;
    padding-bottom: 0Px;
    border-bottom: none;
  }
}

.bus-information-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--wjh-color-primary);
  font-weight: 500;

  .start-time {
    font-size: 20Px;
    line-height: 28Px;
  }

  .route-name {
    font-size: 14Px;
    color: var(--wjh-color-text);
  }
}

.open-type-list {
  display: flex;
  align-items: center;
  width: 100%;
  height: 18Px;
  margin-top: 10Px;
  border-radius: 10Px;
  overflow: hidden;
  background-color: var(--wjh-color-border);

  .open-type-item {
    flex: 1;
    text-align: center;
    background-color: var(--wjh-color-border);

    :global(.dark) & {
      background-color: var(--wjh-color-primary-light);
    }

    &-text {
      align-items: center;
      justify-content: center;
      font-size: 12Px;
      line-height: 26Px;
      color: var(--wjh-color-week);

      &::before {
        content: "\2022";
        margin-right: 4Px;
        font-size: 12Px;
      }
    }

    &__active {
      background-color: var(--wjh-color-primary-light);

      :global(.dark) & {
        background-color: var(--wjh-color-primary-dark);
      }

      .open-type-item-text {
        color: var(--wjh-color-primary);

        :global(.dark) & {
          color: var(--wjh-color-white);
        }
      }
    }

    :global(.dark) &:not(.open-type-item__active) {
      .open-type-item-text {
        color: var(--wjh-color-white);
        opacity: 0.65;
      }
    }
  }
}

.bus-information-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4Px;
  font-size: 14Px;
  color: var(--wjh-color-text-secondary);

  .row-item {
    display: inline-flex;

    .divider {
      width: 2Px;
      background-color: var(--wjh-color-border);
      border-radius: 2Px;
      height: 14Px;
      margin: auto 8Px;
    }
  }

  .detail-button {
    position: absolute;
    right: 0Px;
    bottom: 0Px;
    font-size: 13Px;
    line-height: 22Px;
    padding: 4Px 13Px;
  }
}

.match-reason {
  font-size: 14Px;
  color: var(--wjh-color-text-secondary);

  &-property {
    font-weight: 500;
  }

  &-value {
    font-weight: 500;
    color: var(--wjh-color-primary);
  }
}
