.container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 30Px;

  :global(.wjh-card-body) {
    padding: 11Px 0;
  }

  .tag {
    position: absolute;
    left: -4Px;
    color: var(--wjh-color-primary);
    font-size: 26Px;

    .tag-text {
      display: block;
      position: absolute;
      bottom: 6Px;
      left: 3Px;
      font-size: 11Px;
      color: white;
    }
  }
}

.bus-information-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4Px;
  margin-bottom: 6Px;
  border-bottom: 2Px solid var(--wjh-color-border);
  color: var(--wjh-color-primary);
  font-weight: 500;

  .start-time {
    font-size: 20Px;
    line-height: 28Px;
  }

  .route-name {
    font-size: 14Px;
    color: var(--wjh-color-text);
  }
}

.bus-information-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4Px;
  font-size: 14Px;
  color: var(--wjh-color-text-secondary);

  .row-item {
    display: inline-flex;

    .divider {
      width: 2Px;
      background-color: var(--wjh-color-border);
      border-radius: 2Px;
      height: 14Px;
      margin: auto 8Px;
    }
  }

  .detail-button {
    position: absolute;
    right: 0Px;
    bottom: 0Px;
    font-size: 13Px;
    line-height: 22Px;
    padding: 4Px 13Px;
  }
}