.container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 30Px;

  :global(.wjh-card-header) {
    flex-direction: column;
    padding-top: 12Px;
    padding-bottom: 8Px;
  }

  .open-type-tag {
    position: absolute;
    top: 16Px;
    left: -4Px;
    color: var(--wjh-color-primary);

    :global(.iconfont) {
      font-size: 28Px;
    }

    .tag-text {
      margin-left: 4Px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 11Px;
      color: var(--wjh-color-white);
    }
  }
}

.bus-information-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--wjh-color-primary);
  font-weight: 500;

  .start-time {
    font-size: 20Px;
    line-height: 28Px;
  }

  .route-name {
    font-size: 14Px;
    color: var(--wjh-color-text);
  }
}

.bus-information-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4Px;
  font-size: 14Px;
  color: var(--wjh-color-text-secondary);

  .row-item {
    display: inline-flex;

    .divider {
      width: 2Px;
      background-color: var(--wjh-color-border);
      border-radius: 2Px;
      height: 14Px;
      margin: auto 8Px;
    }
  }

  .detail-button {
    position: absolute;
    right: 0Px;
    bottom: 0Px;
    font-size: 13Px;
    line-height: 22Px;
    padding: 4Px 13Px;
  }
}

.match-reason {
  font-size: 12Px;
  color: var(--wjh-color-text-secondary);

  &-property {
    font-weight: 500;
    margin-right: 4Px;
  }

  &-value {
    color: var(--wjh-color-primary);
  }
}