@import "@/style/theme";

.fixed-quick-view-container {
  border-radius: 8px;
  @include shadow;
  padding: 0 20px;
  background-color: var(--wjh-color-background-container);
  opacity: 95%;
}

.quick-view-container {
  .header {
    padding: 12px 0 8px 0;
    border-bottom: 2px solid var(--wjh-color-border);
    text-align: center;

    .title {
      font-size: 1.1rem;
    }
  }

  .content {
    padding: 8px 0 16px 0;
  }

  .empty {
    padding-top: 16px;
    text-align: center;

    .campus {
      color: var(--wjh-color-primary-dark);
    }
  }

}

.quick-view-container:not(:last-child) {
  border-bottom: 6px solid var(--wjh-color-primary-light);
}

.information {
  .content text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
