@import '@/style/frame';
@import '@/style/list';

.content {
  padding-left: 1rem;
  padding-right: 1rem;
  .title {
    font-size: 2rem;
    font-weight: bolder;
  }
}

.score {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: bolder;
  min-width: 4rem;
  text-align: center;
}
