@import '@/style/theme.scss';

.score-list-collapse {
  .wjh-collapse-panel-header {
    font-size: 0.875rem;
  }

  .wjh-list-item-content {
    justify-content: space-between;
  }

  .score-detail-list {
    font-size: 0.75rem;
    color: var(--wjh-color-week);
    width: 100%;
  }

  .wjh-collapse-panel-active {
    color: var(--wjh-color-primary);
  }
}
