@use "../variables/color.scss";

.light {
  --wjh-color-text: #333;
  --wjh-color-text-secondary: #666;
  --wjh-color-unselected:#838383;

  --wjh-color-week: #999;
  --wjh-color-light: #ccc;
  --wjh-color-border: #eee;

  --wjh-color-background-frame: #fcfcfc;
  --wjh-color-background-container: #fafafa;
  --wjh-color-background-popup: #fefefe;
  --wjh-color-background-page: #f5f5f5;
}

.light {
  --wjh-color-white: #{color.$white-600};

  --wjh-color-green-500: #{color.$green-500};
  --wjh-color-green-600: #{color.$green-600};
  --wjh-color-green-700: #{color.$green-700};

  --wjh-color-blue-500: #{color.$blue-500};
  --wjh-color-blue-600: #{color.$blue-600};
  --wjh-color-blue-700: #{color.$blue-700};

  --wjh-color-yellow-500: #{color.$yellow-500};
  --wjh-color-yellow-600: #{color.$yellow-600};
  --wjh-color-yellow-700: #{color.$yellow-700};

  --wjh-color-pink-500: #{color.$pink-500};
  --wjh-color-pink-600: #{color.$pink-600};
  --wjh-color-pink-700: #{color.$pink-700};

  --wjh-color-orange-400: #{color.$orange-400};
  --wjh-color-orange-500: #{color.$orange-500};
  --wjh-color-orange-600: #{color.$orange-600};

  --wjh-color-red-400: #{color.$red-400};
  --wjh-color-red-500: #{color.$red-500};
  --wjh-color-red-600: #{color.$red-600};
  --wjh-color-red-700: #{color.$red-700};
  --wjh-color-red-800: #{color.$red-800};

  --wjh-color-purple-500: #{color.$purple-500};
  --wjh-color-purple-600: #{color.$purple-600};
  --wjh-color-purple-700: #{color.$purple-700};


}
