@import "./dark.scss";

.score-quick-view {
  .wjh-card {
    box-shadow: none;
    margin: 0.5rem 0;
  }

  .wjh-card-body {
    padding: 0.6rem 0;
  }

  .score-card {
    margin: 8Px 0;
    padding: .6rem 16Px;
    position: relative;

    &::before {
      content: "";
      z-index: 0;
      opacity: .24;
      position: absolute;
      border-radius: 8Px;
      top: 0;
      left: 0;
      background: var(--bg-color);
      height: 100%;
      width: 100%;
    }

    .score-title {
      position: relative;
      z-index: 1;
      font-size: 1.1rem;
      line-height: 1.5rem;
      color: var(--wjh-color-text-secondary);
    }

    .score-res {
      position: relative;
      z-index: 1;
      text-align: end;
      color: var(--wjh-color-week);
    }
  }
}