.modal-container {
  :global(.wjh-modal-header) {
    border-bottom: none;
    padding-bottom: 0;
  }
  :global(.wjh-modal-body) {
    padding-top: 0;
  }
}

.close-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--wjh-color-week);
  font-size: 20Px;
  padding: 10Px;
  line-height: 1;
  cursor: pointer;
}

.modal-content {
  max-height: 50vh;
  overflow-y: scroll;
  .meta-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--wjh-color-week);
    font-size: 0.75rem;
    margin-bottom: 8Px;

    text {
      margin-right: 10Px;
    }
  }

  .divider {
    height: 1Px;
    background-color: var(--wjh-color-border);
    margin: 8Px 0;
  }

  .section-title {
    font-size: 0.875rem;
    color: var(--wjh-color-week);
    margin-bottom: 6Px;
    font-weight: var(--wjh-font-weight-medium);
  }

  .article-content {
    font-size: 0.875rem;
    color: var(--wjh-color-text);
    line-height: 1.6;
    white-space: pre-wrap;
    text-align: left;
  }

  .abstract {
    margin-bottom: 8Px;
  }
}
