@import "@/style/theme.scss";

.campus-selector {
  padding: 12px;

  .container {
    display: flex;
    height: 100%;
    gap: 16px;
  }

  .campus {
    @include shadow;
    flex: 0 calc(100% / 3);
    padding: 6px 16px;
    border-radius: 100px;
    background-color: var(--wjh-color-primary-light);
    color: var(--wjh-color-primary-dark);
    text-align: center;
    transition: all .1s;
  }

  .campus:active {
    transform: scale(1.05);
  }

  .active {
    background-color: var(--wjh-color-primary);
    color: var(--wjh-color-white);
  }
}

.suit-selector {
  display: flex;
  flex: 0 0 auto;
  margin-bottom: 6px;
  padding: 6px;
  overflow-x: scroll;
  white-space: nowrap;

  .suits {
    @include shadow;
    position: relative;
    height: 178px;
    // height: 142px;
    margin: 0 6px;
    padding: 0px 62px;
    border-radius: 12px;
    background-color: var(--wjh-color-week);
    background-size:100% 100%;

    .suit-name {
      height: 36px;
      width: 124px;
      line-height: 65px;
      position: absolute;
      top: 142px;
      left: 0px;
      text-align: center;
      border-radius: 0 0 9px 9px;
      background-color: var(--wjh-color-background-container);
    }
  }

  .active {
    border: solid 4px var(--wjh-color-primary);
  }
}

.suit-panel {
  background-color: var(--wjh-color-background-popup);
  height: 100%;
  width: 100%;
  margin: 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  .container {
    padding: 12px 33px;

    .title {
      margin: 24px 0;
      padding-left: .6rem;
      border-left: 2px solid;
      font-size: 1.1rem;
      line-height: 100%;
      color: var(--wjh-color-primary);
    }

    .size-scroll {
      display: flex;
      overflow-x: auto;

      .size-card {
        @include shadow;
        display: flex;
        flex: 0 0 auto;
        height: 40px;
        padding: 0 25px;
        margin-right: 16px;
        border: solid 2px var(--wjh-color-week);
        border-radius: 10px;
        color: var(--wjh-color-text-secondary);
        text-align: center;
        line-height: 40px;
      }

      .active {
        border: solid 2px var(--wjh-color-primary);
        color: var(--wjh-color-primary);
      }
    }

    .remain-suit-num {
      // display: inline-flex;
      position: relative;
    }

    .warning {
      position: absolute;
      top: -12px;
      left: 100px;
      display: inline-flex;
      // margin: -12px 0 0 40px;
      padding: 9px 13px 9px 13px;
      border-radius: 8px;
      color: var(--wjh-color-orange-600);
      background-color: var(--wjh-color-orange-400);

      .text {
        margin-left: 12px;
      }
    }

    .rent-suit-number {
      transition: all 0.1s; //need test

      .number-symbal {
        @include shadow;
        display: inline-block;
        height: 35px;
        width: 35px;
        border: solid 1px var(--wjh-color-week);
        border-radius: 5px;
        color: var(--wjh-color-week);
        font-size: 1.6rem;
        font-weight: var(--wjh-font-weight-medium);
        text-align: center;
        line-height: 35px;
      }

      .number-symbal:hover {
        color: var(--wjh-color-text-secondary);
        background-color: var(--wjh-color-light);
        border: solid 1px var(--wjh-color-light);
      }

      .number-num {
        display: inline-block;
        margin: 0 30px;
      }
    }
  }

  .confirm {
    @include shadow;
    height: 40px;
    margin: 12px;
    border-radius: 7px;
    text-align: center;
    line-height: 40px;
    background-color: var(--wjh-color-primary);
    color: var(--wjh-color-white);
  }

  .unactive {
    background-color: var(--wjh-color-week);
  }
}

.card-alarm {
  margin: 0 30px;
}

.card-alarmZhaoHui {
  margin: 0 20px;
}

.title {
  word-break: break-word;
  font-weight: var(--wjh-font-weight-medium);
  text-align: left;
  margin-bottom: 12px;
}

.footer {
  margin-top: 12px;
  border-top: 1px solid var(--wjh-color-border);
  padding: 12px 0;
  color: var(--wjh-color-week);
  text-align: center;
  font-size: .8rem;
  font-weight: normal;
}
