@import "@/style/theme.scss";
.campus-selector {
  // background-color: var(--wjh-color-background-container);
  padding: 12Px;

  .container {
    display: flex;
    height: 100%;
    gap: 16Px;
  }

  .campus {
    flex: 0 calc(100% / 3);
    padding: 6Px 16Px;
    border-radius: 100Px;
    background-color: var(--wjh-color-primary-light);
    color: var(--wjh-color-primary-dark);
    text-align: center;
    transition: all .1s;
  }

  .campus:active {
    transform: scale(1.05);
  }

  .active {
    background-color: var(--wjh-color-primary);
    color: var(--wjh-color-white);
  }
}

.suit-selector {
  display: flex;
  flex: 0 0 auto;
  margin-bottom: 6Px;
  padding: 6Px;
  overflow-x: scroll;
  white-space: nowrap;

  .suits {
    position: relative;
    height: 178Px;
    margin: 0 6Px;
    padding: 0Px 62Px;
    border-radius: 9Px;
    background-color: #AAAAAA;

    .suit-name {
      height: 36Px;
      width: 124Px;
      line-height: 65px;
      position: absolute;
      top: 142Px;
      left: 0Px;
      text-align: center;
      border-radius: 0 0 9Px 9Px;
      background-color: var(--wjh-color-background-container);
    }
  }
}

.suit-panel{
  background-color: var(--wjh-color-background-popup);
  height: 100%;
  width: 100%;
  margin: 0;

  border-top-right-radius: 20Px;
  border-top-left-radius: 20Px;

  .container{
    padding: 12Px 33Px;

    .title{
      margin: 24Px 0;
      padding-left: .6rem;
      border-left: 2Px solid;
      font-size: 1.1rem;
      line-height: 100%;
      color: var(--wjh-color-primary);
    }

    .size-scroll{
      display: flex;
      overflow-x: auto;

      .size-card{
        display: flex;
        flex: 0 0 auto;
        height: 40Px;
        padding: 0 25Px;
        margin-right: 16Px;
        border: solid 2Px var(--wjh-color-week);
        border-radius: 10Px;
        color: var(--wjh-color-text-secondary);
        text-align: center;
        line-height: 40Px;
      }

      .active{
        border: solid 2Px var(--wjh-color-primary);
        color: var(--wjh-color-primary);
      }
    }

    .rent-suit-number {
      transition: all 0.1s;

      .number-symbal{
        display: inline-block;
        height: 35Px;
        width: 35Px;
        border: solid 1Px var(--wjh-color-week);
        border-radius: 5Px;
        color: var(--wjh-color-week);
        font-size: 1.6rem;
        font-weight: var(--wjh-font-weight-medium);
        text-align: center;
        line-height: 35Px;
      }

      .number-symbal:hover {
        color: var(--wjh-color-text-secondary);
        background-color: var(--wjh-color-light);
        border: solid 1Px var(--wjh-color-light);
      }

      .number-num {
        display: inline-block;
        margin: 0 30Px;
      }
    }
  }

  .confirm{
    height: 40Px;
    margin: 12Px;
    border-radius: 7Px;
    text-align: center;
    line-height: 40Px;
    background-color: var(--wjh-color-primary);
    color: var(--wjh-color-white);
  }
}
