@import "@/style/theme.scss";

.suit-panel {
  background-color: var(--wjh-color-background-popup);
  height: 100%;
  padding: 12Px 24Px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border-top-right-radius: 20Px;
  border-top-left-radius: 20Px;

  .container {
    margin-bottom: 20Px;

    .title {
      margin: 24Px 0;
      padding-left: .6rem;
      border-left: 2Px solid;
      font-size: 1.1rem;
      line-height: 100%;
      color: var(--wjh-color-primary);
    }


    .remain-suit-num {
      // display: inline-flex;
      position: relative;
    }

    .warning {
      position: absolute;
      top: -12Px;
      left: 100Px;
      display: inline-flex;
      // margin: -12Px 0 0 40Px;
      padding: 9Px 13Px 9Px 13Px;
      border-radius: 8Px;
      color: var(--wjh-color-orange-600);
      background-color: var(--wjh-color-orange-400);

      .text {
        margin-left: 12Px;
      }
    }


  }

  .confirm {
    @include shadow;
    height: 40Px;
    margin: 12Px;
    border-radius: 7Px;
    text-align: center;
    line-height: 40Px;
    background-color: var(--wjh-color-primary);
    color: var(--wjh-color-white);
  }

  .unactive {
    background-color: var(--wjh-color-week);
  }
}

.card-alarm {
  margin: 0 30Px;
}

.card-alarm-zh {
  margin: 0 20Px;
}

.title {
  word-break: break-word;
  font-weight: var(--wjh-font-weight-medium);
  text-align: left;
  margin-bottom: 12px;
}

.footer {
  margin-top: 12Px;
  border-top: 1Px solid var(--wjh-color-border);
  padding: 12Px 0;
  color: var(--wjh-color-week);
  text-align: center;
  font-size: .8rem;
  font-weight: normal;
}