@import '@/style/theme.scss';


.exam-quick-view {
  .wjh-card {
    box-shadow: none;
    margin: 0.5rem 0;
  }

  .exam-card {
    // background: #FEDFA9;
    background: var(--wjh-color-orange-light);
    position: relative;
    color: var(--wjh-color-text);

    .text-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 100%;
    }

    .exam-place {
      font-size: 1rem;
    }

    .exam-name {
      font-size: 1.1rem;
      border-bottom: 1.5Px solid var(--wjh-color-week);
      padding-bottom: 6Px;
      padding-right: .5rem;
    }

    .exam-time {
      font-size: 0.9rem;
      display: flex;
      gap: 8Px;
      flex: none;
    }

    .exam-state {
      font-size: 0.9rem;
    }
  }

  .wjh-card-body {
    padding: 0.5rem 0;
  }

  .taking {
    color: var(--wjh-color-cyan);
  }

}
