@import '@/style/theme.scss';

.week-selector {
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
  padding-left: 8px;
  padding-right: 8px;
}

.arrow-button {
  padding: 5px;
}

.disable {
  background-color: var(--wjh-color-light);
}