@import "@/style/theme.scss";

.book-quick-view {
  .wjh-card {
    padding: 0.2rem;
    margin-top: 0.5rem;
    box-shadow: none;
    padding: 0 16Px;
    position: relative;

    &::before {
      content: "";
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--bg-color);
      opacity: .3;
      border-radius: 8Px;
    }
  }

  .borrow-time {
    font-size: 0.75rem;
    color: var(--wjh-color-week);
  }

  .book-name {
    margin-bottom: 10Px;
  }

  .borrow-time {
    color: var(--wjh-color-text-secondary);
  }
}

.more-detail {
  color: var(--wjh-color-primary-dark);
  text-align: center;
  margin-top: 10Px;
}
