@import './style/icons.scss';
page {
	background-color: #f0f0f0;
}

.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}
button {
	&.active {
		background-color: deepskyblue;
		color: white;
	}
	&.button-active {
		background-color: deepskyblue;
		color: white;
	}
}
button:after {
	border: none;
}

.pop-card {
	width: 80%;
	height: 70%;
	.title {
		font-size: 2rem;
		text-align: center;
		font-weight: bolder;
		margin: 1rem;
	}
}
.act-form {
	input {
		border: 1px solid gray;
		padding: 0.5rem;
		margin: 0.5rem;
		border-radius: 0.5rem;
	}

	text {
		font-weight: bold;
	}

	button {
		border-radius: 0.5rem;
		margin: 1rem;
		border: 1px solid gray;
	}
}
