@import './style/icons.scss';
@import "./style";
page {
	background-color: #f0f0f0;
}

.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}


.pop-card {
	width: 80%;
	height: 70%;
	.title {
		font-size: 2rem;
		text-align: center;
		font-weight: bolder;
		margin: 1rem;
	}
}
