.bus-detail-bottom-panel {
  .col {
    flex: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .col:first-child {
    justify-content: center;
    flex: 0 0 25%;
  }

  .col:last-child {
    justify-content: center;
    flex: 0 0 25%;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30Px;
    height: 30Px;
    opacity: 0.8;
    .bottom-icon {
      flex-shrink: 0;
      width: 20Px;
      height: 20Px;
      display: block;
    }
  }

}
