@import "@/style/theme.scss";
@import "./dark.module.scss";
@import "./light.module.scss";

.mask {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.65);
  height: 100%;
  width: 100%;
  z-index: 4000;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--wjh-color-background-page);
  gap: 16rpx;
  border-top-left-radius: 32rpx;
  border-top-right-radius: 32rpx;

  .card:first-child {
    border-top-left-radius: 32rpx;
    border-top-right-radius: 32rpx;
  }

  .card {
    padding: 0 30rpx;
    background-color: var(--wjh-color-background-frame);

    .header {
      line-height: 300%;
      font-size: 1.2em;
      text-align: center;
      border-bottom: 4rpx solid var(--wjh-color-border);
    }

    .item::before {
      z-index: 10;
      position: absolute;
      top: -16rpx;
      right: 16rpx;
      width: 30rpx;
      height: 30rpx;
      font-size: 48rpx;
      color: var(--wjh-color-white);
      line-height: 50%;
      padding: 8rpx;
      border-radius: 100rpx;
      text-align: center;
    }

    .content {
      display: grid;
      grid-template-columns: repeat(4, 25%);
      padding: 24rpx 0;

      .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100rpx;
        width: 100rpx;
        position: relative;

        image {
          height: 50px;
          width: 50px;
          z-index: 1;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: var(--bg-color);
          border-radius: 16rpx;
          z-index: 0;
        }

        .icon {
          font-size: 50px;
          z-index: 10;
        }
      }

      .item:active {
        transform: scale(1.1);
      }

      .item {
        transition: all .1s;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24rpx;
        gap: 12rpx;

        .badge-wrapper {
          position: absolute;
          transform: translate(-30%, -50%);
          top: 0;
          right: 0;
        }

        text {
          font-size: .9em;
          color: var(--wjh-color-text-secondary);
        }
      }
    }
  }

  .footer {
    text-align: center;
    padding: 24rpx;
    background-color: var(--wjh-color-background-frame);
  }
}
