@import '@/style/theme.scss';

button:after {
  display: none;
}

.wjh-button {
  --padding-top-small: 3Px;
  --padding-top-middle: 7Px;
  --padding-top-large: 11Px;
  --padding-left: 12Px;
  --padding-font-size-small: 15Px;
  --padding-font-size-middle: 17Px;
  --padding-font-size-large: 24Px;
}

.wjh-button {
  display: inline-block;
  margin: 0;
  color: var(--wjh-color-white);
  background-color: var(--wjh-color-primary);
}

.wjh-button-small {
  font-size: var(--padding-font-size-small);
  line-height: var(--padding-font-size-small);
  padding: var(--padding-top-small) var(--padding-left);
}

.wjh-button-middle {
  font-size: var(--padding-font-size-middle);
  line-height: var(--padding-font-size-middle);
  padding: var(--padding-top-middle) var(--padding-left);
}

.wjh-button-large {
  font-size: var(--padding-font-size-large);
  line-height: var(--padding-font-size-large);
  padding: var(--padding-top-large) var(--padding-left);
}

.wjh-button-block {
  display: block;
}

.wjh-button-shape-rounded {
  border-radius: 1000Px;
}

.wjh-button-shape-circle {
  border-radius: 1000Px;
  padding: var(--padding-top-middle);
}
